<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>
  <div class="col-lg-6 col-md-6 add-form" id="camera" @inOutPaneAnimation>

    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row justify-content-start">
        <a class="mt-3 pointer" (click)="closeAddCamera(false)"><img src="assets/images/Group 101.svg" /></a>
        <span class="form-heading">create analytic</span>
      </div>

      <div class="mx-5 my-4 site-icons">
        <!-- <a (click)="openAnotherForm('showAddBusinessVertical')"><img src="assets/images/ver-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddCustomer')"><img src="assets/images/cust-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddSite')"><img src="assets/images/site-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddCamera')" class="boxshadow"><img src="assets/images/cam-icon-form.svg" class="mx-2 my-4 changesvgcolor" /></a>
              <a (click)="openAnotherForm('analytics')"><img src="assets/images/analy-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddUser')"><img src="assets/images/user-icon-form.svg" class="mx-2 my-4" /></a> -->
      </div>
    </div>

    <!-- Form -->
    <div>
      <form autocomplete="off" [formGroup]="addAssetForm">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <input type="text" class="form-control my-1" placeholder="Analytic Name" formControlName="description">
          </div>

          <div class="col-lg-6 col-md-6">
            <select id="customer" class="form-select my-1" formControlName="siteId">
              <option value="" selected disabled>Category</option>
              <option value="Site-1">Site-1</option>
              <option value="Site-2">Site-2</option>
            </select>
          </div>

          <div class="col-lg-6 col-md-6">
            <select id="customer" class="form-select my-1" formControlName="siteId">
              <option value="" selected disabled>Active</option>
              <option value="Site-1">Site-1</option>
              <option value="Site-2">Site-2</option>
            </select>
          </div>

          <div class="text-center my-5">
            <button class="btn add-btn" (click)="addNewAsset()">ADD</button>
          </div>
        </div>
      </form>
    </div>
    <!-- Form -->

  </div>
</div>
