/* .equipment {
  padding: 0 18px;
}

.equipment .checklist {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .equipment .checklist {
    font-size: 12px;
  }
} */

/* .add-form .d-flex img {
  margin-left: 0;
} */



.added-device {
  padding: 0 50px;
}

.device-title{
  font-size: 14px;
  font-weight: 400;
}

.device-sub {
  font-size: 15px;
  color: #084982;
  font-weight: 500;
}

/** BEGIN CSS NEEDED FOR SWITCH **/
.on-off-toggle {
  width: 56px;
  height: 24px;
  position: relative;
  display: inline-block;
}

.on-off-toggle__slider {
  width: 56px;
  height: 23px;
  display: block;
  border-radius: 34px;
  background-color: #fff;
  border: 1px solid #084982;
  transition: background-color 0.4s;
}

.on-off-toggle__slider:before {
  content: '';
  display: block;
  background-color: #ABABAB;
  /* box-shadow: 0 0 0 1px #949494; */
  bottom: 5px;
  height: 15px;
  left: 3px;
  position: absolute;
  transition: .4s;
  width: 16px;
  z-index: 5;
  border-radius: 100%;
}

.on-off-toggle__slider:after {
  display: block;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  content: 'NO' ;
  color: #ABABAB;
  padding-left: 26px;
  transition: all 0.4s;
}



/*
  This way of hiding the default input is better
  for accessibility than using display: none;
*/
.on-off-toggle__input {
  position: absolute;
  opacity: 0;
}

.on-off-toggle__input:checked +
.on-off-toggle__slider {
  background-color: #fff;
  border: 1px solid #084982;
}

.on-off-toggle__input +
.on-off-toggle__slider {
  background-color: #F8F8F8;
  border: 1px solid #ABABAB;
}

.on-off-toggle__input:checked + :before {
  transform: translateX(32px);
    background-color: #084982;
}
.on-off-toggle__input:checked + :after {
  content: 'YES';
  color: #084982;
  padding-left: 8px;
}

.device-detail {
  margin: 0 0 0 -45px;
}

.close {
  position: relative;
  right: 38px;
  bottom: 8px;
}

@media screen and (max-width: 767px) {
  .close {
    left: 300px;
    top: 0;
    margin: 0 !important;
  }
}

/* @media screen and (min-width: 1024px) {
  ::ng-deep .mat-tab-header{
    width: 500px;
  }
} */

::ng-deep .mat-tab-group.mat-primary.mat-background-primary>.mat-tab-header .mat-ink-bar {
  background-color: #dc3545;
  height: 48px;
  z-index: -1;
}

::ng-deep .mat-tab-group.mat-background-primary>.mat-tab-header {
  background-color: #084982;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-subscript-wrapper {
  padding: 0 5px;
}


/* common ng-deep */

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 5px;
  bottom: 5px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

::ng-deep .mat-select-value {
  position: relative;
  bottom: 4px;
}

::ng-deep input.mat-input-element {
  position: relative;
  bottom: 4px;
}

::ng-deep .mat-tab-body-content {
  overflow-x: hidden !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #084982!important;
}
