<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>

  <div class="col-lg-6 col-md-6 add-form" id="user" @inOutPaneAnimation>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-row justify-content-start">
      <a class="close-main pointer" (click)="closeAddUser()"><img src="assets/icons/close_form.svg" /></a>
      <span class="form-heading">add inventory</span>
    </div>
  </div>

  <!-- Form -->
  <div>
    <form autocomplete="off" [formGroup]="UserForm" #addUserForm="ngForm">
      <div class="row">

        <!-- <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Category</mat-label>
            <mat-select formControlName="productCategory" [(ngModel)]="inventoryBody.inv.productCategory">
              <mat-option value="Modules">Modules</mat-option>
              <mat-option value="Server">Server</mat-option>
              <mat-option value="Camera">Camera</mat-option>
            </mat-select>
            <mat-error class="mt-1">Category is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Brand</mat-label>
            <mat-select formControlName="productBrand" [(ngModel)]="inventoryBody.inv.productBrand">
              <mat-option value="Rasberry">Rasberry</mat-option>
              <mat-option value="Jetson">Jetson</mat-option>
              <mat-option value="AXIS">AXIS</mat-option>
              <mat-option value="HIKVISON">HIKVISON</mat-option>
              <mat-option value="Grandstream">Grandstream</mat-option>
            </mat-select>
            <mat-error class="mt-1">Brand is required</mat-error>
          </mat-form-field>
        </div> -->

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Id</mat-label>
            <mat-select formControlName="productId" [(ngModel)]="inventoryBody.inv.productId">
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
            <mat-error class="mt-1">Brand is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Id</mat-label>
            <mat-select formControlName="orderId" [(ngModel)]="inventoryBody.inv.orderId">
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
            <mat-error class="mt-1">Brand is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>quantity</mat-label>
            <input matInput type="number" formControlName="quantity" [(ngModel)]="inventoryBody.inv.quantity">
            <mat-error class="mt-1">Product is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>serialNo</mat-label>
            <input matInput formControlName="serialNo" [(ngModel)]="inventoryBody.inv.serialNo">
            <mat-error class="mt-1">Serial Number is required</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select>
              <mat-option value="Active">Active</mat-option>
            </mat-select>
            <mat-error class="mt-1">Status is required</mat-error>
          </mat-form-field>
        </div> -->

        <div class="row my-2">
          <!-- <div class="col-lg-6 col-md-6">
            <label class="form-check-label me-3">Cost Details</label>
          </div>

          <div class="col-lg-6 col-md-6 text-end">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">USD</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">INR</label>
            </div>
          </div> -->
          <mat-radio-group name="radioOpt1" style="font-size: 12px;">
            <mat-label>Cost Details</mat-label>
            <mat-radio-button class="ms-3" name="Cost" value="USD">USD</mat-radio-button>
            <mat-radio-button class="ms-3" name="Cost" value="INR" checked>INR</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-lg-6 col-md-6 d-flex my-1 escalation">
          <!-- <div style="width: 20%; background-color: #F8F8F8;" class="max-center p-2">Cost</div>
          <div style="width: 80%; color: #084982;">
            <input type="text" class="form-control" placeholder="" name="lat" />
          </div> -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cost</mat-label>
            <input matInput formControlName="cost" [(ngModel)]="inventoryBody.inv.cost">
            <mat-error class="mt-1">Cost is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 d-flex my-1 escalation">
          <!-- <div style="width: 20%; background-color: #F8F8F8;" class="max-center p-2">Price</div>
          <div style="width: 80%; color: #084982;">
            <input type="text" class="form-control" placeholder="" name="lat" />
          </div> -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" [(ngModel)]="inventoryBody.inv.price">
            <mat-error class="mt-1">Price is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>remarks</mat-label>
            <input matInput formControlName="remarks" [(ngModel)]="inventoryBody.inv.remarks">
            <mat-error class="mt-1">Serial Number is required</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col-lg-12 col-md-12 d-flex justify-content-start align-items-center my-2">
          <p class="m-0 pe-3">Warranty Details</p>

          <div class="on-off-toggle">
            <input class="on-off-toggle__input" type="checkbox" id="bopis">
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div> -->
        <p>Warranty Details</p>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>serialNo</mat-label>
            <input matInput formControlName="wserialNo" [(ngModel)]="inventoryBody.warr.serialNo">
            <mat-error class="mt-1">Serial Number is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>newSerialNo</mat-label>
            <input matInput formControlName="wnewSerialNo" [(ngModel)]="inventoryBody.warr.newSerialNo">
            <mat-error class="mt-1">Serial Number is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>cost</mat-label>
            <input matInput formControlName="wcost" [(ngModel)]="inventoryBody.warr.cost">
            <mat-error class="mt-1">Serial Number is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="startDate" [(ngModel)]="inventoryBody.warr.startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error class="mt-1">Start Date is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="endDate" [(ngModel)]="inventoryBody.warr.endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error class="mt-1">End Date is required</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Vendor</mat-label>
            <mat-select formControlName="vendor" [(ngModel)]="x.warr.vendor">
              <mat-option value="Riverside">Riverside</mat-option>
            </mat-select>
            <mat-error class="mt-1">Vendor is required</mat-error>
          </mat-form-field>
        </div> -->

        <div class="col-lg-12 col-md-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>remarks</mat-label>
            <input matInput formControlName="wremarks" [(ngModel)]="inventoryBody.warr.remarks">
            <mat-error class="mt-1">Notes is required</mat-error>
          </mat-form-field>
        </div>

        <div class="text-center my-3">
          <button type="submit" class="btn add-btn" (click)="submit()">ADD</button>
        </div>
      </div>
    </form>
  </div>
  <!-- /Form -->

  </div>
</div>
