<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>

  <div class="col-lg-6 col-md-6 add-form" id="user" @inOutPaneAnimation>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-row justify-content-start">
      <a class="close-main pointer" (click)="closeAddUser()"><img src="assets/icons/close_form.svg" /></a>
      <span class="form-heading">add inventory</span>
    </div>
  </div>

  <!-- Form -->
  <div>
    <form autocomplete="off" [formGroup]="UserForm" #addUserForm="ngForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>productId</mat-label>
            <mat-select formControlName="productId" [(ngModel)]="inventoryBody.inventory.productId">
              <mat-option *ngFor="let item of productIds" [value]="item.id">{{ item.id }} - {{ item.name }}</mat-option>
            </mat-select>
            <mat-error class="mt-1">Brand is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>orderId</mat-label>
            <mat-select formControlName="orderId" [(ngModel)]="inventoryBody.inventory.orderId">
              <mat-option *ngFor="let item of orderIds" [value]="item.id">{{ item.id }}</mat-option>
            </mat-select>
            <mat-error class="mt-1">Brand is required</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>quantity</mat-label>
            <input matInput type="number" formControlName="quantity" [(ngModel)]="inventoryBody.inv.quantity">
            <mat-error class="mt-1">Product is required</mat-error>
          </mat-form-field>
        </div> -->

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>serialNo</mat-label>
            <input matInput formControlName="serialnos" [(ngModel)]="inventoryBody.serialnos">
            <mat-error class="mt-1">Serial Number is required</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="row my-2">
          <mat-radio-group name="radioOpt1" style="font-size: 12px;">
            <mat-label>Cost Details</mat-label>
            <mat-radio-button class="ms-3" name="Cost" value="USD">USD</mat-radio-button>
            <mat-radio-button class="ms-3" name="Cost" value="INR" checked>INR</mat-radio-button>
          </mat-radio-group>
        </div> -->

        <div class="col-lg-6 col-md-6 d-flex my-1 escalation">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cost</mat-label>
            <input matInput formControlName="cost" [(ngModel)]="inventoryBody.inventory.cost">
            <mat-error class="mt-1">Cost is required</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col-lg-6 col-md-6 d-flex my-1 escalation">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" [(ngModel)]="inventoryBody.inv.price">
            <mat-error class="mt-1">Price is required</mat-error>
          </mat-form-field>
        </div> -->

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Remarks</mat-label>
            <input matInput formControlName="remarks" [(ngModel)]="inventoryBody.inventory.remarks">
            <mat-error class="mt-1">Remarks is required</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="row my-2">
          <mat-radio-group name="radioOpt1" style="font-size: 12px;" formControlName="warrantyDetail" [(ngModel)]="warrantyDetail">
            <mat-label>Warr</mat-label>
            <mat-radio-button class="ms-3" name="warranty" value="Yes">Yes</mat-radio-button>
            <mat-radio-button class="ms-3" name="warranty" value="No" checked>No</mat-radio-button>
          </mat-radio-group>
        </div> -->

        <div class="col-lg-6"></div>

        <div class="col-lg-6 col-md-6 d-flex justify-content-start align-items-center my-2">
          <p class="m-0">Warranty Cover</p>

          <div class="on-off-toggle mx-5">
            <input class="on-off-toggle__input" type="checkbox" id="warrantyDetail"  formControlName="warrantyDetail" [(ngModel)]="warrantyDetail" [ngModel]="warrantyDetail=='Y' ? true : false" (ngModelChange)="warrantyDetail = $event ? 'Y' : 'N'">
            <label for="warrantyDetail" class="on-off-toggle__slider"></label>
          </div>
        </div>


        <div class="row col-lg-12" *ngIf="warrantyDetail == 'Y'">

          <!-- <div>
            <div class="col-lg-6 col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>serialNo</mat-label>
                <input matInput formControlName="wserialNo" [(ngModel)]="inventoryBody.warr.serialNo">
                <mat-error class="mt-1">Serial Number is required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>newSerialNo</mat-label>
                <input matInput formControlName="wnewSerialNo" [(ngModel)]="inventoryBody.warr.newSerialNo">
                <mat-error class="mt-1">Serial Number is required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>cost</mat-label>
                <input matInput formControlName="wcost" [(ngModel)]="inventoryBody.warr.cost">
                <mat-error class="mt-1">Serial Number is required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>vendor</mat-label>
                <input matInput formControlName="vendor" [(ngModel)]="inventoryBody.warr.vendor">
                <mat-error class="mt-1">vendor is required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-md-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>remarks</mat-label>
                <input matInput formControlName="wremarks" [(ngModel)]="inventoryBody.warr.remarks">
                <mat-error class="mt-1">Notes is required</mat-error>
              </mat-form-field>
            </div>
          </div> -->

          <div class="col-lg-6 col-md-6" >
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="startDate" [(ngModel)]="inventoryBody.warranty.startDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error class="mt-1">Start Date is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="endDate" [(ngModel)]="inventoryBody.warranty.endDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error class="mt-1">End Date is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remarks</mat-label>
              <input matInput formControlName="wremarks" [(ngModel)]="inventoryBody.warranty.remarks">
              <mat-error class="mt-1">Remarks is required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="text-center my-3">
          <button type="submit" class="btn add-btn">ADD</button>
        </div>
      </div>
    </form>
  </div>
  <!-- /Form -->

  </div>
</div>
