.users {
  margin-top: 80px;
}

.users-header {
  display: flex;
  align-items: center;
}

.users-header p {
  color: #28231D;
  font-size: 20px;
}

.users-header span {
  color:#28231D;
  font-size: 20px;
}

.vl-green {
  border-left: 2px solid #00A44C;
  height: 40px;
}

.vl-yellow {
  border-left: 2px solid #F5B400;
  height: 40px;
}

.vl-blue {
  border-left: 2px solid #1b86e9;
  height: 40px;
}

.vl-red {
  border-left: 2px solid #EF2800;
  height: 40px;
}

.status {
  font-size: 12px;
  color: #28231D;
  letter-spacing: 0.5px;
  width: 120px;
}

.count {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}

.dot {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: red;
  margin: auto;
  box-shadow: 0px 0px 5px 2px rgba(207, 39, 39, 0.61);
  border: 1px solid #fff;
}

.form-check-input {
  height: 1.2rem;
  width: 1.2rem;
}

.icons-site {
  background-image: linear-gradient(to right, #084982, #D34124);
  position: absolute;
  margin-top: 8px;
  margin-left: -205px;
  padding: 8px;
  border-radius: 2px;
}

.icons-site::after {
  content: "";
  position: absolute;
  top: 20px;
  transform: rotate(45deg);
  right: -4px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  box-shadow: -1px -1px 1px 0 #d34124;
  color: #d34124;
}

.plus-img:after {
  content: "";
  position: absolute;
  top: 17px;
  transform: rotate(45deg);
  right: -4px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  box-shadow: -1px -1px 1px 0 #fff;
  color: #fff;
  border-right: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
}

.plus-img1 {
  border: 1px solid #EFEFEF;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: absolute;
  margin: -25px 0 0 -98px;
  background-color: #fff;
  box-shadow: -5px 6px 13px 0px #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-img1:after {
  content: "";
  position: absolute;
  top: 17px;
  transform: rotate(45deg);
  right: -4px;
  margin-top: -9px;
  border-width: 5px;
  border-style: solid;
  box-shadow: -1px -1px 1px 0 #fff;
  color: #fff;
  border-right: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
}

.info {
  position: absolute;
  left: 150px;
  top: 35px;
  width: 100px;
  text-align: center;
  background-color: gray;
  border-radius: 5px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media only screen and (max-width: 768px) {
  .search-form {
    display: flex;
    flex-direction: column;
  }

  .search {
    width: 186px;
  }

  form {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }

  .table-resp {
    font-size: 10px;
  }

  .table tbody tr th,
  .table tbody tr td {
    padding: 5px;
  }

}


/* common ng-deep */
::ng-deep .from-date .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
  display: inline-flex;
}

/* common mat-button */
::ng-deep .mat-flat-button.mat-primary {
  background-color: #084982;
}

/* common mat-dialog */
::ng-deep .mat-dialog-content {
  margin: 0 !important;
  padding: 0 20px !important;
  max-height: 450px !important;
}

::ng-deep .mat-dialog-container {
  overflow: hidden !important;
  padding: 0 !important;
}

::ng-deep .mat-dialog-actions {
  margin-bottom: 0 !important;
  margin-right: 10px !important;
  padding: 0 !important;
}

/* mat disable color */
::ng-deep .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: #000;
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: #000000;
}

/* common mat-form */
.mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 5px;
  bottom: 5px;
  background: #F8F8F8;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

::ng-deep .mat-select-value {
  position: relative;
  bottom: 4px;
}

::ng-deep input.mat-input-element {
  position: relative;
  bottom: 4px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-subscript-wrapper {
  padding: 0 5px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #084982!important;
}
