<div class="row formModal">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-10 col-md-10 add-form">

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <a class="mt-3 pointer" (click)="closeAddSite(false)"><img src="assets/images/Group 101.svg" /></a>
                <h6 class="mt-5" style="margin-left: 20px;">add new site</h6>
            </div>

            <div class="mx-5 my-4 site-icons">
                <a><img src="assets/images/Union 24.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 25.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 26.svg" class="mx-2 my-4 changesvgcolor" /></a>
                <a><img src="assets/images/bx-cctv (1).svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 27.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 29.svg" class="mx-2 my-4" /></a>
            </div>
        </div>

        <div>
            <form autocomplete="off">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <select id="" class="form-select m-2">
                            <option selected>Select Customer</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <select id="" class="form-select m-2">
                            <option selected>Select Vertical</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Site Name" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Contact Number" />
                    </div>
                    <!-- <div class="col-lg-4 col-md-4">
                        <input type="number" class="form-control m-2" placeholder="Fax Number" />
                    </div> -->

                    <div class="col-lg-4 col-md-4">
                        <input type="email" class="form-control m-2" placeholder="Email Id" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Website" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12">
                        <p class="px-2 mb-1">ADDRESS</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <select id="" class="form-select m-2" required>
                            <option selected>Country*</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <select id="" class="form-select m-2">
                            <option selected>State</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <select id="" class="form-select m-2">
                            <option selected>District/City</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="number" class="form-control m-2" placeholder="Pincode" />
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <input type="text" class="form-control m-2" placeholder="Area/Street" />
                    </div>

                    <div class="col-lg-4 col-md-4 lat">
                        <input type="text" class="form-control" placeholder="Latitude" />
                    </div>
                    <div class="col-lg-4 col-md-4 long">
                        <input type="text" class="form-control" placeholder="Longitude" />
                    </div>

                    <!-- <div class="col-lg-4 col-md-4 d-flex flex-row justify-content-between longi input-count">
                        <div class="long">
                          <input type="text" class="form-control m-2" placeholder="Longitude" />
                        </div>
                        <span>3.8</span>
                    </div> -->

                    <div class="col-lg-4 col-md-4 px-3">
                        <button class="btn m-2 latlong">Get Lat Long</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12">
                        <p class="px-2 mb-1">ESCALATION DETAILS <small id="emailHelp" class="form-text"
                                style="color:#000;"> (Please select atleast One Escalation)</small></p>
                    </div>
                    <div class="col-lg-4 col-md-4 lat">
                        <select id="" class="form-select" style="width: 185px; margin-left: -13px; margin-top: -1px;">
                            <option selected>Select</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Contact Number" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="email" class="form-control m-2" placeholder="Email Id" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12">
                        <p class="px-2 mb-1">ENGINEER DETAILS <small id="emailHelp" class="form-text"
                                style="color:#000;"> (Please select atleast One Engineer)</small></p>
                    </div>
                    <div class="col-lg-4 col-md-4 lat">
                        <select id="" class="form-select" style="width: 185px; margin-left: -13px; margin-top: -1px;">
                            <option selected>Select</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Contact Number" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="email" class="form-control m-2" placeholder="Email Id" />
                    </div>
                </div>

                <div class="row mt-3 service">
                    <div class="col-lg-12 col-md-12">
                        <p class="px-2 mb-1">SERVICES</p>
                    </div>
                    <div class="d-flex justify-content-between m-2 checklist">
                        <div><input type="checkbox" /> Guard</div>
                        <div><input type="checkbox" (click)="toggleShowMonit()" /> Monitoring</div>
                        <div><input type="checkbox" (click)="toggleShowBusiness()" /> Business Intelligence</div>
                        <div><input type="checkbox" /> Safety Escort</div>
                        <div><input type="checkbox" /> Proximity Ads</div>
                    </div>
                    <div class="m-2" *ngIf="Monitoring">
                        <div class="card">
                            <div class="card-header">Monitoring</div>
                            <div class="card-body">
                                <p>Monitoring Hours</p>
                                <div class="col-lg-4 col-md-4"><input type="text" class="form-control"
                                        placeholder="Enter" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2" *ngIf="Business">
                        <div class="card">
                            <div class="card-header">Business Intelligence</div>
                            <div class="card-body">
                                <p>Requested Analytics</p>
                                <div class="col-lg-4 col-md-4">
                                    <select id="" class="form-select">
                                        <option selected>Select</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 pre-install">
                    <div class="col-lg-12 col-md-12 d-flex justify-content-start">
                        <p class="px-2 mb-1">PRE INSTALLATION FORM</p>

                        <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios"> -->

                        <div class="on-off-toggle">
                            <input class="on-off-toggle__input" type="checkbox" id="bopis"
                                (click)="toggleShowOnOff()" />
                            <!-- (click)="checkbox($event, 'preinst')" -->
                            <label for="bopis" class="on-off-toggle__slider"></label>
                        </div>


                    </div>



                    <div class="preinstBody" *ngIf="isShown">
                        <div class="m-2">
                            <div class="card">
                                <div class="card-header d-flex justify-content-start">
                                    <div class="col-lg-3 col-md-3">
                                        <p>Electrician</p>
                                    </div>
                                    <div class="col-lg-9 col-md-9">
                                        <input type="radio" value="radio" /> YES
                                        <input type="radio" value="radio" /> NO
                                    </div>
                                </div>
                                <!-- <div class="card-body"></div> -->
                            </div>
                        </div>

                        <div class="m-2">
                            <div class="card">
                                <div class="card-header d-flex justify-content-start">
                                    <div class="col-lg-3 col-md-3">
                                        <p>Power Available</p>
                                    </div>
                                    <div class="col-lg-9 col-md-9">
                                        <input type="radio" value="radio" /> YES
                                        <input type="radio" value="radio" /> NO
                                    </div>
                                </div>
                                <!-- <div class="card-body"></div> -->
                            </div>
                        </div>

                        <div class="m-2">
                            <div class="card">
                                <div class="card-header d-flex justify-content-start">
                                    <div class="col-lg-3 col-md-3">
                                        <p>Internet</p>
                                    </div>
                                    <div class="col-lg-9 col-md-9">
                                        <input type="radio" value="radio" /> YES
                                        <input type="radio" value="radio" /> NO
                                    </div>
                                </div>
                                <div class="row card-body">
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">Internet Service Provider</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Excell Media Pvt.Ltd.">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">Preferred Installer</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="|">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="m-2">
                            <div class="card">
                                <div class="card-header d-flex justify-content-start">
                                    <div class="col-lg-3 col-md-3">
                                        <p>Existing Security System</p>
                                    </div>
                                    <div class="col-lg-9 col-md-9">
                                        <fieldset class="d-flex justify-content-start">
                                            <input type="radio" id="radioYes" name="Security" (click)="toggleShowExistSecuity()">
                                            <label for="kraken">YES</label><br />

                                            <input type="radio" id="radioNo" name="Security" checked (click)="toggleShowExistSecuity()">
                                            <label for="sasquatch">NO</label><br />

                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row card-body" *ngIf="existSecuity">
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">Camera URL</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">Native App Name</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">No. of NVR's at Client Location</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="1">
                                    </div>
                                    <div class="row my-3">
                                        <!-- <div><hr><p style="color: #084982;">NVR - 1</p><hr></div> -->
                                        <div class="col-lg-5 col-md-5">
                                            <hr>
                                        </div>
                                        <div class="col-lg-2 col-md-2 text-center">
                                            <p style="color: #084982;">NVR - 1</p>
                                        </div>
                                        <div class="col-lg-5 col-md-5">
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">NVR IP Address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">NVR Model</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">NVR Type</label>
                                        <div>
                                            <select id="" class="form-select">
                                                <option selected>Select</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">NVR User Name</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">NVR Password</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">No. of Cameras on NVR</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">NVR URL</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">NVR Serial Number</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label for="exampleInputEmail1">Camera Serial Number</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <input type="text" class="form-control m-2" placeholder="Note" />
                    </div>

                </div>
                <div>

                    <div class="text-center m-4">
                        <button class="btn add-btn">ADD</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>