<div class="container-fluid users" id="top">
  <!-- header starts -->
  <div class="d-flex justify-content-between">
    <div class="users-header">
      <p>List of all Users - <span>4</span></p>
    </div>
    <div style="position: relative">
      <!-- <a class="pointer" (click)="show('user')"><img src="assets/icons/add.svg" alt="" /></a> -->

      <button mat-flat-button color="primary" class="py-0" (click)="show('user')">Create User</button>
    </div>
  </div>
  <!-- header ends -->

  <!-- count starts -->
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-start">
      <div class="vl-green"></div>
      <div class="mx-2">
        <div class="status">Active</div>
        <div class="count">0</div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-start">
      <div class="vl-red"></div>
      <div class="mx-2">
        <div class="status">Inactive</div>
        <div class="count">0</div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-start">
      <div class="vl-yellow"></div>
      <div class="mx-2">
        <div class="status">Onhold</div>
        <div class="count">0</div>
      </div>
    </div>
  </div>
  <!-- count ends -->

  <!-- form starts -->
  <div class="search-form">
    <!-- <div class="col-lg-10 col-md-10">
      <form class="row p-0">
        <div class="col-lg-4 col-md-4 col-sm-4 select">
          <select class="form-select">
            <option selected>All</option>
            <option></option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 search">
          <input type="text" placeholder="Search" name="search2" [(ngModel)]="searchText" />
          <button type="submit">
            <a><img src="assets/icons/search.svg" /></a>
          </button>
        </div>
      </form>
    </div> -->

    <div class="row col-lg-10 col-md-10">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>User Name</mat-label>
          <mat-select>
            <!-- <mat-option (click)="sort('siteID')">Filter by A-Z</mat-option> -->
            <mat-option *ngFor="let cust of CustomerTable">{{ cust.username }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <mat-form-field class="example-form-field" appearance="outline" class="w-100">
          <mat-label>Search</mat-label>
          <input matInput type="text"  [(ngModel)]="searchText">
          <button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- form ends -->

  <!-- table starts -->
  <div class="table-resp">
    <table class="table" id="mytable">
      <thead>
        <tr class="form1">
          <!-- <th>
              <input type="checkbox" class="form-check-input" [(ngModel)]="selectedAll" (change)="selectAll()"
              id="allcheck" style="
              background-color: #00000000;
              border-color: #fff;
              margin-left: 10px;
              " />
            </th> -->
            <th (click)="sort('siteId')">User ID</th>
            <th (click)="sort('customerName')">User Name</th>
            <th (click)="sort('custType')">Role</th>
            <th (click)="sort('address')">Address</th>
            <th (click)="sort('contactNumber')">Contact Number</th>
            <th (click)="sort('emailId')">Email id</th>
            <th (click)="sort('contactPerson')">#Sites</th>
            <th (click)="sort('contactPerson')">Safety Escort</th>
            <th (click)="sort('status')">Status</th>
            <th class="text-center">Actions</th>
          </tr>
      </thead>

      <tbody>
      <tr *ngFor="let cust of CustomerTable | search : searchText; let i = index">
        <!-- <td>
          <input type="checkbox" name="foo" class="form-check-input" [(ngModel)]="cust.selected" (change)="
          checkIfAllSelected();
          deleteMultiRecords(cust, i, $event);
          ViewByCheckbox(cust, i, $event);
              EditByCheckbox(cust, i, $event)
            " id="singleCheck" />
        </td> -->
        <td>
          <p>{{ cust.employeeId }}</p>
        </td>
        <td>
          <p>{{ cust.username }}</p>
        </td>
        <td>
          <p>{{ cust.roleList }}</p>
        </td>
        <td>
          <p class="text-primary pointer">View</p>
        </td>
        <td>
          <p>{{ cust.contactNumber1 }}</p>
        </td>
        <td>
          <p>{{ cust.email }}</p>
        </td>
        <td>
          <a class="pointer" (click)="show('additionalSite')">
            <img src="assets/icons/add.svg" width="40">
          </a>
        </td>
        <td>
          <p>{{ cust.safetyEscort }}</p>
        </td>
        <td>
          <p [style.color]="cust.status == 'Active' ? '#00A44C' : cust.status == 'Onhold' ? '#F5B400' : cust.status == 'Inactive' ? '#fa500f' : '#00A44C'">
            {{ cust.status }}
          </p>
        </td>

        <td class="text-center">
          <a class="mx-1" (click)="openViewPopup(cust, i)" matTooltip="View">
            <img src="assets/icons/view.svg">
          </a>
          <a class="mx-1" (click)="openEditPopup(cust, i)" matTooltip="Edit">
            <img src="assets/icons/edit.svg">
          </a>
          <a class="mx-1" value="Delete" (click)="openDeletePopup(cust, i)" matTooltip="Delete">
            <img src="assets/icons/delete.svg">
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- table ends -->

<div class="modalitem max-center" [hidden]="deletePopup">
  <!-- <div  class="deletePopup" > -->
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <p>Delete Row</p>
      <img src="assets/icons/close_form.svg" width="40" height="40" (click)="closeDeletePopup()" />
    </div>
    <div class="card-body text-center">Do you want to delete this item?</div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary mx-2" (click)="confirmDeleteRow()">
        OK
      </button>
      <button type="button" class="btn btn-danger" (click)="closeDeletePopup()">
        Close
      </button>
    </div>
  </div>
  <!-- </div> -->
</div>

<div class="modalitem max-center" [hidden]="editPopup">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <p>Edit</p>
      <img src="assets/icons/close_form.svg" width="40" height="40" (click)="closeEditPopup()" />
    </div>
    <div class="card-body text-center">
      <ul *ngIf="currentItem">
        <li>
          <h6 style="width: 110px">User Id</h6>
          :
          <div>
            <input type="text" class="form-control my-1" [(ngModel)]="currentItem.employeeId" />
          </div>
        </li>
        <li>
          <h6 style="width: 110px">User Name</h6>
          :
          <div>
            <input type="text" class="form-control my-1" [(ngModel)]="currentItem.username" />
          </div>
        </li>
        <li>
          <h6 style="width: 110px">Cust Type</h6>
          :
          <div>
            <input type="text" class="form-control my-1" [(ngModel)]="currentItem.custType" />
          </div>
        </li>
        <li>
          <h6 style="width: 110px">Contact Number</h6>
          :
          <div>
            <input type="text" class="form-control my-1" [(ngModel)]="currentItem.contactNumber1" />
          </div>
        </li>
        <li>
          <h6 style="width: 110px">Email Id</h6>
          :
          <div>
            <input type="text" class="form-control my-1" [(ngModel)]="currentItem.email" />
          </div>
        </li>
        <li>
          <h6 style="width: 110px">Contact Person</h6>
          :
          <div>
            <input type="text" class="form-control my-1" [(ngModel)]="currentItem.contactPerson" />
          </div>
        </li>
        <li>
          <h6 style="width: 110px">Address</h6>
          :
          <div>
            <input type="text" class="form-control my-1" [(ngModel)]="currentItem.address" />
          </div>
        </li>
        <li>
          <h6 style="width: 110px">Status</h6>
          :
          <div>
            <input type="text" class="form-control my-1" [(ngModel)]="currentItem.status" />
          </div>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary mx-2" (click)="confirmEditRow()">
        Update
      </button>
      <button type="button" class="btn btn-danger" (click)="closeEditPopup()">
        Close
      </button>
    </div>
  </div>
  <!-- </div>   -->
</div>

<div class="modalitem max-center" [hidden]="viewPopup">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <p>Customers</p>
      <img src="assets/icons/close_form.svg" width="40" height="40" (click)="closeViewPopup()" />
    </div>
    <div class="card-body text-center">
      <ul *ngIf="currentItem">
        <li>
          <h6 style="width: 110px">Site Id</h6>
          : {{ currentItem?.employeeId }}
        </li>
        <li>
          <h6 style="width: 110px">Customer Name</h6>
          : {{ currentItem?.username }}
        </li>
        <li>
          <h6 style="width: 110px">Cust Type</h6>
          : {{ currentItem?.custType }}
        </li>
        <li>
          <h6 style="width: 110px">Contact Number</h6>
          : {{ currentItem?.contactNumber1 }}
        </li>
        <li>
          <h6 style="width: 110px">Email Id</h6>
          : {{ currentItem?.email }}
        </li>
        <li>
          <h6 style="width: 110px">Contact Person</h6>
          : {{ currentItem?.contactPerson }}
        </li>
        <li>
          <h6 style="width: 110px">Address</h6>
          : {{ currentItem?.address }}
        </li>
        <li>
          <h6 style="width: 110px">Status</h6>
          : {{ currentItem?.status }}
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <!-- <button type="button" class="btn btn-primary" (click)="confirmViewRow()">OK</button> -->
      <button type="button" class="btn btn-danger" (click)="closeViewPopup()">
        Close
      </button>
    </div>
  </div>
  <!-- </div> -->
</div>

<div style="position: fixed; top: 70px; right: 0; z-index: 99; width: 100%;" *ngIf="showAddUser">
  <app-add-new-user (newItemEvent)="closenow($event, 'user')"></app-add-new-user>
</div>


<div style="position: fixed; top: 70px; right: 0; z-index: 99; width: 100%;" *ngIf="showAddSite">
  <app-add-additional-site (newItemEvent)="closenow($event, 'additionalSite')"></app-add-additional-site>
</div>
