<div #table>
    <div  class="text-center mt-2">
        <img src="assets/icons/IVISsecurity_logo_black.png" alt="" width="200px">
    </div>

    <div class="d-flex justify-content-between align-items-center mt-2 mx-3">
        <div>
            <p>Serial no:&nbsp;</p>
            <p>Date of challan:&nbsp;</p>
        </div>

        <div>
            <p>Name:&nbsp;ivisecurity,Mangalagiri</p>
            <p>Addres:&nbsp;Pincode-302001</p>
            <p>State:&nbsp; No-9876543899</p>
            <p>Code:&nbsp;GSTIN-4567878</p>
        </div>
    </div>
    
    
    
    <!-- <div>
        <h1 style="text-decoration: underline;">Details of Receiver</h1>
        <p>1.Name-</p>
        <p>2.Address-</p>
        <p>3.State-</p>
        <p>4.Code-</p>
    </div> -->
    
    <div class="dialog-content mt-2">
        <div class="text-center">
            <h1 style="font-weight: bold; margin-bottom: 3px;">Delivery Challan</h1>
        </div>
        <div class="table-res">
            <table class="table" id="mytable">
                <thead>
                    <tr class="task-table">
                        <th>
                            <p class="d-inline-flex">
                                <span>S.No</span>
                            </p>
                        </th>
    
                        <th>
                            <p class="d-inline-flex">
                                <span>descriptionOfGoods</span>
                            </p>
                        </th>
    
                        <th>
                            <p class="d-inline-flex">
                                <span>itemCode</span>
                            </p>
                        </th>
    
                        <th>
                            <p class="d-inline-flex">
                                <span>quantity</span>
                            </p>
                        </th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let cust of dcItems; let i = index">
                        <td>
                            <p>{{ i+1}}</p>
                        </td>
    
                        <td>
                            <p>{{ cust.descriptionOfGoods }}</p>
                        </td>
    
                        <td>
                            <p>{{ cust.itemCode }}</p>
                        </td>
    
                        <td>
                            <p>{{ cust.quantity }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end mb-2">
    <div>
        <button type="submit" class="add-task-btn mx-2" (click)="generatePDF()">Print</button>
    </div>
    <div>
        <button type="submit" class="add-task-btn mx-2"  mat-dialog-close>Close</button>
    </div>
</div>