<div class="row formModal">
    <div class="col-lg-6 col-md-6"></div>
    <div class="col-lg-6 col-md-6 add-vertical" style="width: 100%">

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <a class="mt-3 pointer" (click)="closeAddVertical(false)"><img src="assets/images/Group 101.svg" /></a>
                <h6 class="mt-5">add new vertical</h6>
            </div>

            <div class="mx-5 my-4 site-icons">
                <a><img src="assets/images/Union 24.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 25.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 26.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/bx-cctv (1).svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 27.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 29.svg" class="mx-2 my-4" /></a>
            </div>
        </div>

        <div>
            <form>
                <div class="row">
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8">
                        <input type="text" class="form-control m-2" placeholder="Add New Business Vertical" />
                    </div>
                    <div class="col-lg-2 col-md-2"></div>

                    <div class="text-center m-4">
                        <button class="btn add-btn">ADD</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>