.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}


::ng-deep .mat-card {
  padding: 10px 0 !important;
}

::ng-deep .mat-card-header .mat-card-title {
  font-size: 15px !important;
}

::ng-deep .mat-card-subtitle {
  margin-bottom: 0 !important;
}
