<div class="row formModal">
    <div class="col-lg-6 col-4"></div>
  
    <div class="col-lg-6 col-8 add-form" id="user" @inOutPaneAnimation>
      <div>
        <a class="close-main pointer" (click)="close()"><img src="assets/icons/close_form.svg" /></a>
        <span class="form-heading">add dc</span>
      </div>
  
      <!-- Form -->
      <div>

            <div>
                <div id="chart"></div>
            </div>
  
          <div class="text-center my-3">
            <button type="submit" class="btn add-btn">ADD</button>
          </div>
      </div>
    </div>
  </div>
  