.sites {
    margin-top:80px;
}

.sites-header {
    display: flex;
    align-items: center;
}

.sites-header p {
    color: #ABABAB;
    font-size: 20px;
}

.sites-header span {
    color: #084982;
    font-size: 20px;
}

.vl-green {
    border-left: 2px solid #00A44C;
    height: 40px;
}

.vl-red {
    border-left: 2px solid #EF2800;
    height: 40px;
}

.vl-yellow {
    border-left: 2px solid #F5B400;
    height: 40px;
}

.status {
    font-size: 12px;
    color: #ABABAB;
    letter-spacing: 0.5px;
}

.count {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

.table-icons {
    display: flex;
    justify-content: end;
    align-items: center;
}

.table thead {
    background-image: linear-gradient(to right, #084982 , #D34124);
    color: #fff;
    /* height: 50px; */
    padding: 0px;
}

.table tbody tr td {
    text-align: left;
    font-size: 12px;
    padding: 0;
}


.form1 {
  background-image: linear-gradient(to right, #084982, #D34124);
  background-size: cover;
  border-radius: 5px;
  margin-top: 20px;
  /* width: 98.9%; */
  /* height: 70px; */

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-weight: 100;
  z-index: 1;
}

.form1 th{
  color: #fff;
  padding: 10px 0;
  font-size: 12px;
  text-align: left;
  /* justify-content:center; */
}

.table-resp{
  /* padding: 10px; */
  max-height: calc(100vh - (280px));
  overflow-y: scroll;
}

/* .table-resp table{
  border: 1px solid #EFEFEF;
} */

.table tbody tr td {
  /* align-items: center; */
  vertical-align: middle;
  height: 36px;
  width: 120px;
}

.table tbody tr td p {
  margin: 2px 0;
}

.table tbody tr td input {
  /* align-items: center; */
  margin: 2px 10px;
}
.dot-red,.dot-green,.dot-yellow{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 8px;
    margin: auto;
    border: 1px solid #fff;
    float: left;
}
.dot-red {
  background-color: red;
  box-shadow: 0px 0px 5px 2px rgba(207,39,39,0.61);
}

.dot-green {
  background-color: #00A44C;
  box-shadow: 0px 0px 5px 2px #00a44dd3;
}

.dot-yellow {
  background-color: #F5B400;
  box-shadow: 0px 0px 5px 2px #f5b400d2;
}

.eng-detail {
  /* display: flex;
  flex-direction: column; */
  color: #000;
  text-align: left;
  padding: 8px;
}

.plus-img {
  display: none;
  border: 1px solid #0000000D;
  position: absolute;
  background-color: #fff;
  width: fit-content;
  margin-left: -227px;
  margin-top: -26px;
  box-shadow: -5px 6px 13px 0px #F3F3F3;
}

.plus-img:after{
    content: "";
    position: absolute;
    top: 17px;
    transform: rotate(45deg);
    right: -4px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    box-shadow: -1px -1px 1px 0 #fff;
    color: #fff;
    border-right: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
}

.plus-img1 {
    border: 1px solid #EFEFEF;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    position: absolute;
    margin: -25px 0 0 -98px;
    background-color: #fff;
    box-shadow: -5px 6px 13px 0px #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-img1:after{
    content: "";
    position: absolute;
    top: 17px;
    transform: rotate(45deg);
    right: -4px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    box-shadow: -1px -1px 1px 0 #fff;
    color: #fff;
    border-right: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
}

/* CSS for Popup start */

.modalitem .card {
  border: none;
}

.modalitem {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: #0006;
}

.modalitem .card-header {
  background-color: #084982;
  color: #fff;
  height: 40px;
  font-size: 14px;
}

.modalitem .card-header img {
  margin: -24px -36px;
}

.modalitem .card .card-body {
  font-size: 13px;
}

.modalitem .card .card-body ul li {
  list-style-type: none;
}

.modalitem .card .card-body ul li {
  font-size: 13px;
  text-align: left;
  color: #084982;
}

.modalitem .card .card-footer button {
  float: right;
  padding: 5px;
  font-size: 10px;
}

.modalitem ul {
  padding-left: 0rem;
}

.modalitem li {
  display: flex;
}

.modalitem h6 {
  color: #363636;
  font-size: 13px;
  font-family: ms, sans-serif;
}

.modalitem .card .card-body ul li div input {
  font-size: 13px;
  padding: 5px;
  height: 30px
}

.modalitem .card .card-body ul li div {
  margin: -8px 0px 5px 5px;
}


@media only screen and (max-width: 768px) {
  .search-form {
    display: flex;
    flex-direction: column;
  }

  .table-icons {
    position: relative;
    left: 125px;
  }

  form .select {
    margin: 5px 0;
  }

  .Active-list {
      display: flex;
      justify-content: start;
  }

  .search {
      margin: 10px 0 0 12px;
  }

  .table-resp {
      font-size: 10px;
  }

  .table tbody tr th, .table tbody tr td {
      padding: 5px;
  }

}

.form-check-input{
    height: 1.2rem;
    width: 1.2rem;
    /* background-color: #00000000; */
    /* border: #7c7c7c; */
}

.icons-site {
    background-image: linear-gradient(to right, #084982 , #D34124);
    position: absolute;
    margin-top: 8px;
    margin-left: -205px;
    padding: 8px;
    border-radius: 2px;
}

.icons-site::after {
    content: "";
    position: absolute;
    top: 20px;
    transform: rotate(45deg);
    right: -4px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    box-shadow: -1px -1px 1px 0 #d34124;
    color: #d34124;
}

/* td:nth-child(7) {
    font-size: 11px !important;
} */

/* .lists {
    margin-top: -20px;
} */

::ng-deep .mat-badge-medium .mat-badge-content {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

::ng-deep .mat-badge-medium .mat-badge-content {
  font-weight: 100;
  font-size: 10px;
}

/* common ng-deep */
.mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 5px;
  bottom: 5px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

::ng-deep .mat-select-value {
  position: relative;
  bottom: 4px;
}

::ng-deep input.mat-input-element {
  position: relative;
  bottom: 4px;
}
