<div class="container-fluid sites">

    <!-- header starts -->
    <div class="d-flex justify-content-between">
        <div class="sites-header">
            <p>List of all Sites - <span>25000</span></p>
        </div>
        <div style="position: relative;">
            <div [hidden]="icons1" class="icons-site">
                <div class="d-flex flex-row justify-content icons pointer">
                    <a (click)="iconsnew1();showAddBusinessVertical=!showAddBusinessVertical"><img
                            src="assets/images/vertical.svg" class="mx-2" width="15" height="15" /></a>
                    <a (click)="iconsnew1();showAddCustomer=!showAddCustomer"><img src="assets/images/customer.svg"
                            class="mx-2" width="15" height="15" /></a>
                    <a (click)="iconsnew1();showAddSite=!showAddSite"><img src="assets/images/sites.svg" class="mx-2"
                            width="15" height="15" /></a>
                    <a (click)="iconsnew1();showAddCamera=!showAddCamera"><img src="assets/images/cam.svg" class="mx-2"
                            width="15" height="15" /></a>
                    <a><img src="assets/images/analytic.svg" class="mx-2" width="15" height="15" /></a>
                    <a (click)="iconsnew1();showAddUser=!showAddUser"><img src="assets/images/user-white.svg"
                            class="mx-2" width="15" height="15" /></a>
                </div>
            </div>
            <a (click)="iconsnew1()"><img src="assets/images/add.svg" alt="" /></a>
            <a><img src="assets/images/sites-img.svg" alt=""
                    style="border-radius: 24px; box-shadow: 7px 7px 7px 0px #f3f3f3; margin-top: -9px;" /></a>
        </div>
    </div>
    <!-- header ends -->

    <!-- count starts -->
    <div class="row Active-list">
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 d-flex justify-content-start">
            <div class="vl-green"></div>
            <div class="mx-2">
                <div class="status">Active</div>
                <div class="count">22000</div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 d-flex justify-content-start">
            <div class="vl-red"></div>
            <div class="mx-2">
                <div class="status">Inactive</div>
                <div class="count">1000</div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 d-flex justify-content-start">
            <div class="vl-yellow"></div>
            <div class="mx-2">
                <div class="status">Onhold</div>
                <div class="count">2000</div>
            </div>
        </div>
    </div>
    <!-- count ends -->

    <!-- form starts -->
    <div class="row my-3">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <form class="row p-0">
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-6 select">
                    <select class="form-select">
                        <option selected>All Verticals</option>
                        <option></option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 select">
                    <select class="form-select">
                        <option selected>All Customers</option>
                        <option></option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search">
                    <input type="text" placeholder="Search" name="search2">
                    <button type="submit"><a><img src="assets/images/search.svg" /></a></button>
                </div>
            </form>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 table-icons">
            <a class="mx-2"><img src="assets/images/view.svg" /></a>
            <a class="mx-2"><img src="assets/images/edit.svg" /></a>
            <a class="mx-2"><img src="assets/images/delete.svg" /></a>
        </div>
    </div>
    <!-- form ends -->

    <!-- table starts -->

    <div class="table-resp">
        <table class="table">
            <tbody>
                <tr class="form1">
                    <th><input type="checkbox" class="form-check-input" [(ngModel)]="selectedAll"
                            (change)="selectAll();" id="allcheck"
                            style="background-color: #00000000; border-color:#fff;margin-left:10px;" />
                    </th>
                    <!-- <th><input type="checkbox" class="form-check-input"
                        id="allcheck" [checked]="SelectAll" (click)="allchecked($event)" style="background-color: #00000000; border-color:#fff;margin-left:10px;" />
                    </th> -->
                    <th>Site ID</th>
                    <th>Site Name</th>
                    <th>Customer</th>
                    <th>Status</th>
                    <th>Address</th>
                    <th>Lat & Long</th>
                    <th>Escl. Details</th>
                    <th>Engr. Details</th>
                    <th>Services</th>
                    <th>Cntrl Unit</th>
                    <th>Devices</th>
                    <th></th>
                </tr>

                <tr *ngFor="let data of tableData; let i=index">
                    <td><input type="checkbox" name="foo" class="form-check-input" [(ngModel)]="data.selected"
                            (change)="checkIfAllSelected();" id="singleCheck" /></td>


                    <!-- <td><input type="checkbox" name="foo" class="form-check-input" [checked]="masterSelected" id="singleCheck" (click)="itemchecked($event)" /></td> -->
                    <td>
                        <p>{{data.siteID}}</p>
                    </td>
                    <td>
                        <p>{{data.siteName}}</p>
                    </td>
                    <td>
                        <p>{{data.customer}}</p>
                    </td>

                    <td>
                        <p [style.color]="
                        data.status == 'Active' ? '#00A44C': 
                        data.status == 'Onhold' ? '#F5B400': 
                        data.status == 'Inactive' ? '#fa500f':
                        '#084982'">{{data.status}}</p>

                    </td>
                    <td style="position: relative;">
                        <a style="color: #084982;" (click)="addressView($event,i)">{{data.address}}</a>
                        <div style="display: none; border: 1px solid #0000000D; position: absolute; background-color: #fff; width: fit-content; margin-left: -210px; margin-top: -26px; box-shadow: -5px 6px 13px 0px #F3F3F3;"
                            class="plus-img" id="address{{i}}">
                            <p class="p-2" style="color: #ABABAB; text-align: left;">ADDRESS</p>
                            <div style="color: #000; text-align: left; padding: 10px;">
                                <p>Pathur Road, Tadepally</p>
                                <p>Guntur - 522501</p>
                                <p>Andhra Pradesh, India</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>{{data.lat}}<br>-{{data.long}}</p>
                    </td>
                    <td><a style="color: #084982;">{{data.escl_Details}}</a></td>
                    <td><a style="color: #084982;">{{data.engr_Details}}</a></td>
                    <td>
                        <!-- <div class="dot-red"></div> -->
                        <div [ngClass]="
                        data.status == 'Active' ? 'dot-green': 
                        data.status == 'Onhold' ? 'dot-yellow': 
                        data.status == 'Inactive' ? 'dot-red':
                        'dot-red'"></div>
                    </td>
                    <td>
                        <a>
                            <img src="assets/images/add-svg.svg"
                                *ngIf="data.cntrl_Unit == '' || data.cntrl_Unit ==null " width="25" height="25" />
                            <span
                                *ngIf="data.cntrl_Unit != '' && data.cntrl_Unit !=null || data.cntrl_Unit.length>0">{{data?.cntrl_Unit}}</span>
                        </a>
                    </td>
                    <td><a><img src="assets/images/add-svg.svg" width="25" height="25" /></a></td>
                    <td style="position: relative;">
                        <a (click)="closeDot($event,i)"><img src="assets/images/dotlist.svg" width="30"
                                height="12" /></a>
                        <div class="plus-img1" id="plus{{i}}" style="display: none;">
                            <a class="mx-2"><img src="assets/images/view.svg" /></a>
                            <a class="mx-2"><img src="assets/images/edit.svg" /></a>
                            <a class="mx-2"><img src="assets/images/delete.svg" /></a>
                        </div>
                    </td>
                </tr>



            </tbody>
        </table>
    </div>
    <!-- table ends -->
</div>




<!-- 
<div style="position: fixed; top:0;" *ngIf="showAddSite">
    <app-add-new-site [show]="showAddSite" (newItemEvent)="closenow($event)"></app-add-new-site>
</div>



<div style="position: fixed; top:0;" *ngIf="showAddCamera">
    <app-add-new-camera [show]="showAddCamera" (newItemEvent)="closenow1($event)"></app-add-new-camera>
</div>



<div style="position: fixed; top:0;" *ngIf="showAddCustomer">
    <app-add-new-customer [show]="showAddCustomer" (newItemEvent)="closenow2($event)"></app-add-new-customer>
</div>



<div style="position: fixed; top:0;" *ngIf="showAddUser">
    <app-add-new-user [show]="showAddUser" (newItemEvent)="closenow3($event)"></app-add-new-user>
</div>

<div style="position: fixed; top:0;" *ngIf="showAddBusinessVertical">
    <app-add-new-business-vertical [show]="showAddBusinessVertical" (newItemEvent)="closenow4($event)">
    </app-add-new-business-vertical>
</div> -->



<div style="position: fixed; top:0;" *ngIf="showAddSite">
    <app-add-new-site [show]="showAddSite" (newItemEvent)="closenow($event, 'site')"></app-add-new-site>
</div>



<div style="position: fixed; top:0;" *ngIf="showAddCamera">
    <app-add-new-camera [show]="showAddCamera" (newItemEvent)="closenow($event, 'camr')"></app-add-new-camera>
</div>



<div style="position: fixed; top:0;" *ngIf="showAddCustomer">
    <app-add-new-customer [show]="showAddCustomer" (newItemEvent)="closenow($event, 'cust')"></app-add-new-customer>
</div>



<div style="position: fixed; top:0;" *ngIf="showAddUser">
    <app-add-new-user [show]="showAddUser" (newItemEvent)="closenow($event, 'user')"></app-add-new-user>
</div>

<div style="position: fixed; top:0;" *ngIf="showAddBusinessVertical">
    <app-add-new-business-vertical [show]="showAddBusinessVertical" (newItemEvent)="closenow($event, 'vert')">
    </app-add-new-business-vertical>
</div>