.sites {
    margin-top:50px;
}

.sites-header {
    display: flex;
    align-items: center;
}

.sites-header p {
    color: #ABABAB;
    font-size: 24px;
}

.sites-header span {
    color: #084982;
    font-size: 24px;
}

.vl-green {
    border-left: 2px solid #00A44C;
    height: 40px;
  }

.vl-red {
    border-left: 2px solid #EF2800;
    height: 40px;
}

.vl-yellow {
    border-left: 2px solid #F5B400;
    height: 40px;
}

.status {
    font-size: 12px;
    color: #ABABAB;
    letter-spacing: 0.5px;
}

.count {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

form .select {
    width: 200px;
    height: 40px;
}

form .form-select {
    background-color: #F8F8F8;
    border: 1px solid #EFEFEF;
    font-size: 12px;
    color: #000000;
}

form .search {
    border: 1px solid #EFEFEF;
    border-radius: 30px;
    width: 250px;
    height: 45px;
}

form input, button {
    border: none;
    padding: 10px;
    font-size: 12px;
}

form input {
    width: 80%;
    border-radius: 30px;
    color: #ABABAB;
}

form button {
    width: 20%;
    background: none;
}

.table thead {
    background-image: linear-gradient(to right, #084982 , #D34124);
    color: #fff;
    /* height: 50px; */
    padding: 0px;
}

.table thead tr th {
    text-align: center;
    font-size: 12px;
}

.table tbody tr td {
    text-align: center;
    font-size: 12px;
    padding: 0;
}


.form1 {
  background-image: linear-gradient(to right, #084982, #AA4337);
  background-size: cover;
  border-radius: 5px;
  margin-top: 20px;
  /* width: 98.9%; */
  /* height: 70px; */

  position: -webkit-sticky;
  position: sticky;
  top: -2px;
}

.form1 th{
  color: #fff;
  padding: 10px 0; 
  font-size: 12px;
  text-align: center;
  /* justify-content:center; */
}
.table-resp{
  /* padding: 10px; */
  max-height: calc(100vh - (354px));
  overflow-y: scroll;
}
.table-resp table{
  border: 1px solid #ababab;
  /* position: relative; */

}

.table tbody tr td {
  /* align-items: center; */
  vertical-align: middle;
  height: 36px;
}

.table tbody tr td p {
  margin: 2px 0;
}

.table tbody tr td input {
  /* align-items: center; */
  margin: 2px 10px;
}

.dot {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: red;
  margin: auto;
  box-shadow: 0px 0px 5px 2px rgba(207,39,39,0.61);
  border: 1px solid #fff;

}
