.sites {
    margin-top:80px;
}

.sites-header {
    display: flex;
    align-items: center;
}

.sites-header p {
    color:#28231D;
    font-size: 20px;
}

.sites-header span {
    color:#28231D;
    font-size: 20px;
}

.status {
    font-size: 12px;
    color: #ABABAB;
    letter-spacing: 0.5px;
}

.count {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

.dot-red,.dot-green,.dot-yellow{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 8px;
    margin: auto;
    border: 1px solid #fff;
    float: left;
}
.dot-red {
  background-color: red;
  box-shadow: 0px 0px 5px 2px rgba(207,39,39,0.61);
}

.dot-green {
  background-color: #00A44C;
  box-shadow: 0px 0px 5px 2px #00a44dd3;
}

.dot-yellow {
  background-color: #F5B400;
  box-shadow: 0px 0px 5px 2px #f5b400d2;
}

.eng-detail {
  /* display: flex;
  flex-direction: column; */
  color: #000;
  text-align: left;
  padding: 8px;
}

.plus-img {
  display: none;
  border: 1px solid #0000000D;
  position: absolute;
  background-color: #fff;
  width: fit-content;
  margin-left: -227px;
  margin-top: -26px;
  box-shadow: -5px 6px 13px 0px #F3F3F3;
}

.plus-img:after{
    content: "";
    position: absolute;
    top: 17px;
    transform: rotate(45deg);
    right: -4px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    box-shadow: -1px -1px 1px 0 #fff;
    color: #fff;
    border-right: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
}

.plus-img1 {
    border: 1px solid #EFEFEF;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    position: absolute;
    margin: -25px 0 0 -98px;
    background-color: #fff;
    box-shadow: -5px 6px 13px 0px #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-img1:after{
    content: "";
    position: absolute;
    top: 17px;
    transform: rotate(45deg);
    right: -4px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    box-shadow: -1px -1px 1px 0 #fff;
    color: #fff;
    border-right: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}


@media only screen and (max-width: 768px) {
  .search-form {
    display: flex;
    flex-direction: column;
  }

  form .select {
    margin: 5px 0;
  }

  .search {
      margin: 10px 0 0 12px;
  }

  .table-resp {
      font-size: 10px;
  }

  .table tbody tr th, .table tbody tr td {
      padding: 5px;
  }

}

.form-check-input{
    height: 1.2rem;
    width: 1.2rem;
    /* background-color: #00000000; */
    /* border: #7c7c7c; */
}

.icons-site {
    background-image: linear-gradient(to right, #084982 , #D34124);
    position: absolute;
    margin-top: 8px;
    margin-left: -205px;
    padding: 8px;
    border-radius: 2px;
}

.icons-site::after {
    content: "";
    position: absolute;
    top: 20px;
    transform: rotate(45deg);
    right: -4px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    box-shadow: -1px -1px 1px 0 #d34124;
    color: #d34124;
}

/* td:nth-child(7) {
    font-size: 11px !important;
} */

/* .lists {
    margin-top: -20px;
} */


/* ng-deep */
::ng-deep .mat-badge-medium .mat-badge-content {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

::ng-deep .mat-badge-medium .mat-badge-content {
  font-weight: 100;
  font-size: 10px;
}

::ng-deep .mat-flat-button.mat-primary {
  background-color: #084982;
}


/* common mat-button */
::ng-deep .mat-flat-button.mat-primary {
  background-color: #084982;
}

/* common mat-dialog */
::ng-deep .mat-dialog-content {
  margin: 0 !important;
  padding: 0 20px !important;
  max-height: 450px !important;
}

::ng-deep .mat-dialog-container {
  overflow: hidden !important;
  padding: 0 !important;
}

::ng-deep .mat-dialog-actions {
  margin-bottom: 0 !important;
  margin-right: 10px !important;
  padding: 0 !important;
}

/* mat disable color */
::ng-deep .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: #000;
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: #000000;
}

/* common mat-form */
.mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 5px;
  bottom: 5px;
  background: #F8F8F8;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

::ng-deep .mat-select-value {
  position: relative;
  bottom: 4px;
}

::ng-deep input.mat-input-element {
  position: relative;
  bottom: 4px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-subscript-wrapper {
  padding: 0 5px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #084982!important;
}

/* ::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
} */
