<div class="container-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12 main-dashboard">
    <!-- <div class="d-flex justify-content-between  dashboard-header" style="position: sticky;">
        <h4 class="head">DASHBOARD</h4>
        <div [hidden]="icons111" class="icons1">
            <div class="d-flex flex-row justify-content icons pointer">
                <a (click)="showAddBusinessVertical=!showAddBusinessVertical"><img src="assets/images/Union 24@2x.png" class="mx-2" width="15" height="15" /></a>
                <a (click)="showAddCustomer=!showAddCustomer"><img src="assets/images/Union 25@2x.png" class="mx-2" width="15" height="15" /></a>
                <a (click)="showAddSite=!showAddSite"><img src="assets/images/Union 26@2x.png" class="mx-2" width="15"
                        height="15" /></a>
                <a (click)="showAddCamera=!showAddCamera"><img src="assets/images/bx-cctv@2x.png" class="mx-2" width="15" height="15" /></a>
                <a><img src="assets/images/Union 27@2x.png" class="mx-2" width="15" height="15" /></a>
                <a (click)="showAddUser=!showAddUser"><img src="assets/images/Union 29@2x.png" class="mx-2" width="15" height="15" /></a>
            </div>
        </div>
        <div class="showtray">
            <button class="btn btn-default" (click)="iconssnew()" style="box-shadow: none !important; margin-top: -13px;">
                <img src="assets/images/add-svg.svg" width="40" height="40" /></button>
        </div>
    </div> -->

    <div class="d-flex justify-content-between verticals">
        <div>
            <h6 style="margin: 0; margin-left: 20px; font-size: 16px;"><b>verticals - <span> 8</span></b></h6>
        </div>

        <div class="">

            <div *ngIf="icons111" class="icons1" id="icons-site" (click)="icons111=!icons111">
                <div class="lists" *ngIf="showIconVertical" style="margin-left: -235px;">Business Vertical</div>
                <div class="lists" *ngIf="showIconCustomer" style="margin-left: -180px;">Customer</div>
                <div class="lists" *ngIf="showIconSite" style="margin-left: -135px;">Site</div>
                <div class="lists" *ngIf="showIconCamera" style="margin-left: -115px;">Camera</div>
                <div class="lists" *ngIf="showIconAnalytic" style="margin-left: -85px;">Analytic</div>
                <div class="lists" *ngIf="showIconUser" style="margin-left: -40px;">User</div>

                <div class="d-flex flex-row justify-content icons pointer" style="position: absolute;">
                    <a (click)="iconssnew();showAddBusinessVertical=!showAddBusinessVertical">
                        <img src="assets/images/vertical.svg" class="mx-2" width="15" height="15"
                            (mouseenter)="showIconVertical = true" (mouseleave)="showIconVertical = false" />
                    </a>

                    <a (click)="iconssnew();showAddCustomer=!showAddCustomer">
                        <img src="assets/images/customer.svg" class="list mx-2" width="15" height="15"
                            (mouseenter)="showIconCustomer = true" (mouseleave)="showIconCustomer = false" />
                    </a>

                    <a (click)="iconssnew();showAddSite=!showAddSite">
                        <img src="assets/images/sites.svg" class="list mx-2" width="15" height="15"
                            (mouseenter)="showIconSite = true" (mouseleave)="showIconSite = false" />
                    </a>

                    <!-- <a routerLink="/add-new-site"><img src="assets/images/Union 26@2x.png" class="mx-2" width="15" height="15" /></a> -->
                    <a (click)="iconssnew();showAddCamera=!showAddCamera">
                        <img src="assets/images/cam.svg" class="list mx-2" width="15" height="15"
                            (mouseenter)="showIconCamera = true" (mouseleave)="showIconCamera = false" />
                    </a>

                    <a>
                        <img src="assets/images/analytic.svg" class="list mx-2" width="15" height="15"
                            (mouseenter)="showIconAnalytic = true" (mouseleave)="showIconAnalytic = false" />
                    </a>

                    <a (click)="iconssnew();showAddUser=!showAddUser">
                        <img src="assets/images/user-white.svg" class="list mx-2" width="15" height="15"
                            (mouseenter)="showIconUser = true" (mouseleave)="showIconUser = false" />
                    </a>
                </div>
            </div>
            <div class="showtray">
                <button class="btn btn-default" (click)="iconssnew()"
                    style="box-shadow: none !important; padding: 1px; ">
                    <img src="assets/images/add-svg.svg" width="40" height="40" /></button>
            </div>

            <!-- <div>
                <img src="assets/images/Union 18@2x.png" width="20" height="10" />
                <span class="mx-3">1 - 4</span>
                <img src="assets/images/Union 17@2x.png" width="20" height="10" />
            </div> -->

        </div>



    </div>


    <!-- class="d-flex justify-content-between card-menu" -->
    <div class="row d-flex justify-content-between max-center" style="padding: 5px;">

        <img src="assets/images/new-svg/next.svg" alt="" style="width: 62px;transform: rotate(180deg);"
            (click)="prevvert()">

        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 card-menu" *ngFor="let ver of showcardReport">
            <div class="card1 my-1">
                <div class="card-header max-center">
                    <h6><b>{{ver.vertical}}</b></h6>
                </div>
                <div class="card-body ">
                    <div class="d-flex flex-row justify-content">
                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cust-icon.svg" />
                            <span class="mt-2"><b>{{ver.customersCount}}</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/site-icon.svg" />
                            <span class="mt-2"><b>{{ver.sitesCount}}</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cam-icon.svg" />
                            <span class="mt-2"><b>{{ver.cameraCount}}</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/analy-icon.svg" />
                            <span class="mt-2"><b>{{ver.analyticCount}}</b></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 card-menu">
            <div class="card my-1">
                <div class="card-header">
                    <h6><b>Grocery</b></h6>
                </div>
                <div class="card-body ">
                    <div class="d-flex flex-row justify-content">
                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cust-icon.svg" />
                            <span class="mt-2"><b>1</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/site-icon.svg" />
                            <span class="mt-2"><b>2</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cam-icon.svg" />
                            <span class="mt-2"><b>15</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/analy-icon.svg" />
                            <span class="mt-2"><b>10</b></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 card-menu">
            <div class="card my-1">
                <div class="card-header">
                    <h6><b>Gas Station</b></h6>
                </div>
                <div class="card-body ">
                    <div class="d-flex flex-row justify-content">
                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cust-icon.svg" />
                            <span class="mt-2"><b>1</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/site-icon.svg" />
                            <span class="mt-2"><b>1</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cam-icon.svg" />
                            <span class="mt-2"><b>7</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/analy-icon.svg" />
                            <span class="mt-2"><b>7</b></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 card-menu">
            <div class="card my-1">
                <div class="card-header">
                    <h6><b>Store</b></h6>
                </div>
                <div class="card-body ">
                    <div class="d-flex flex-row justify-content">
                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cust-icon.svg" />
                            <span class="mt-2"><b>1</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/site-icon.svg" />
                            <span class="mt-2"><b>1</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cam-icon.svg" />
                            <span class="mt-2"><b>7</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/analy-icon.svg" />
                            <span class="mt-2"><b>7</b></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 card-menu">
            <div class="card my-1">
                <div class="card-header">
                    <h6><b>Construction</b></h6>
                </div>
                <div class="card-body ">
                    <div class="d-flex flex-row justify-content">
                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cust-icon.svg" />
                            <span class="mt-2"><b>3</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/site-icon.svg" />
                            <span class="mt-2"><b>15</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/cam-icon.svg" />
                            <span class="mt-2"><b>20</b></span>
                        </div>

                        <div class="d-flex flex-column justify-content-start text-center">
                            <img src="assets/images/analy-icon.svg" />
                            <span class="mt-2"><b>7</b></span>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->


        <img src="assets/images/new-svg/next.svg" alt="" style="width: 62px;" (click)="nextvert()">


    </div>



    <!-- <div>
        <div class="form1">
            <form autocomplete="off" class="d-flex flex-row justify-content-start">
                <div class="m-2">
                    <select id="inputState" class="form-select mr-5">
                        <option selected>ALL</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="input-count m-2 d-flex flex-row justify-content-between">
                    <div>
                        <input type="text" class="form-control" placeholder="Customers" />
                    </div>
                    <span class="text-center span1" style="margin: 8px 20px; color: #084982;">5</span>
                </div>
            </form>
        </div>
    </div> -->

    <div class="table-resp">
        <table class="table table-striped my-3">
            <tbody>
                <tr class="form1">
                    <th style="padding: 10px 0; justify-content:center;" class="px-4 ">Vertical - <span
                            class="badge">{{count}}</span></th>
                    <th style="padding: 10px 0; justify-content:center;" class="text-center">Customer - <span
                            class="badge">{{totalCust}}</span></th>
                    <th style="padding: 10px 0; justify-content:center;" class="text-center">Sites - <span
                            class="badge">{{totalSites}}</span></th>
                    <th style="padding: 10px 0; justify-content:center;" class="text-center">Cameras - <span
                            class="badge">{{totalCams}}</span></th>
                    <th style="padding: 10px 0; justify-content:center;" class="text-center">Analytics - <span
                            class="badge">{{totalAna}}</span></th>
                    <th style="padding: 10px 0; justify-content:center;" class="text-center">Users - <span
                            class="badge">{{totalUsers}}</span></th>
                    <th style="padding: 10px 0; justify-content:center;" class="text-center">Actions</th>
                    <th></th>
                </tr>
                <tr *ngFor="let main of mainReport; let i=index">
                    <td class="px-4 pt-2">{{main.verticalName}}</td>
                    <td class="pt-2 text-center">{{main.customerCount}}</td>
                    <td class="pt-2 text-center">{{main.sitesCount}}</td>
                    <td class="pt-2 text-center">{{main.camerasCount}}</td>
                    <td class="pt-2 text-center">{{main.analyticsCount}}</td>
                    <td class="pt-2 text-center">{{main.usersCount}}</td>
                    <td class="text-center" style="position: relative;">
                        <div class="icons1 new-icon" id="icons1{{i}}" style="display: none;">
                            <div class="d-flex flex-row justify-content plus-img">
                                <a><img src="assets/images/Union 26@2x.png" width="15" height="15" /></a>
                                <a><img src="assets/images/bx-cctv@2x.png" width="15" height="15" /></a>
                                <a><img src="assets/images/Union 27@2x.png" width="15" height="15" /></a>
                                <a><img src="assets/images/Union 29@2x.png" width="15" height="15" /></a>
                            </div>
                        </div>
                        <button class="btn btn-default" (click)="iconss1($event, i)"
                            style="box-shadow: none !important;">
                            <img src="assets/images/add-svg.svg" width="30" height="30" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <div>
        <div class="form1"> 
            <p class="text-white p-3" style="font-size: 16px!important; font-weight: 700!important;">Analytics</p>
        </div>
    </div> -->

    <div class="row charts">
        <div class="d-flex justify-content-between my-1 verticals">
            <div>
                <h6 style="margin: 0 0 5px 20px; font-size: 16px;"><b>Analytics</b></h6>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="chart"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="chart1"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="chart2"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="chart3"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="chart4"></div>
        </div>
    </div>

</div>



<div style="position: fixed; top:0;" *ngIf="showAddSite">
    <app-add-new-site [show]="showAddSite" (newItemEvent)="closenow($event, 'site')"></app-add-new-site>
</div>



<div style="position: fixed; top:0;" *ngIf="showAddCamera">
    <app-add-new-camera [show]="showAddCamera" (newItemEvent)="closenow($event, 'camr')"></app-add-new-camera>
</div>



<div style="position: fixed; top:0;" *ngIf="showAddCustomer">
    <app-add-new-customer [show]="showAddCustomer" (newItemEvent)="closenow($event, 'cust')"></app-add-new-customer>
</div>



<div style="position: fixed; top:0;" *ngIf="showAddUser">
    <app-add-new-user [show]="showAddUser" (newItemEvent)="closenow($event, 'user')"></app-add-new-user>
</div>

<div style="position: fixed; top:0;" *ngIf="showAddBusinessVertical; show" @enterRight>
    <app-add-new-business-vertical [show]="showAddBusinessVertical" (newItemEvent)="closenow($event, 'vert')">
    </app-add-new-business-vertical>
</div>