.add-form {
  margin-top: 38px !important;
}
/*
.escalation {
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  padding: 0px;
  height: 47px;
  margin: 6px 0 0 19px;
}

.max-center {
  display: flex;
  align-items: center;
  justify-content: start;
} */

.file {
  padding: 12px;
}
