<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>
  <div class="col-lg-6 col-md-6 add-form" id="camera" @inOutPaneAnimation>

    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row justify-content-start">
        <a class="mt-3 pointer" (click)="closeAddCamera(false)"><img src="assets/images/Group 101.svg" /></a>
        <span class="form-heading">add asset</span>
      </div>

      <div class="mx-5 my-4 site-icons">
        <!-- <a (click)="openAnotherForm('showAddBusinessVertical')"><img src="assets/images/ver-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddCustomer')"><img src="assets/images/cust-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddSite')"><img src="assets/images/site-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddCamera')" class="boxshadow"><img src="assets/images/cam-icon-form.svg" class="mx-2 my-4 changesvgcolor" /></a>
              <a (click)="openAnotherForm('analytics')"><img src="assets/images/analy-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddUser')"><img src="assets/images/user-icon-form.svg" class="mx-2 my-4" /></a> -->
      </div>
    </div>

    <!-- Form -->
    <div>
      <form autocomplete="off" [formGroup]="addAssetForm">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Site Id" [matAutocomplete]="auto" formControlName="siteId" [(ngModel)]="searchText" required>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of siteIdList | search : searchText; let i=index" [value]="item">
                  <span>{{ item }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6" >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Device Id</mat-label>
              <mat-select formControlName="deviceId" required>
                <mat-option *ngFor="let item of deviceIdList" [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-12 col-md-6" style="padding-bottom: 0.5em;">
            <!-- <div class="text-center">
              <div class="d-flex align-items-center">
                <input class="form-control file" type="file" (change)="onChange($event)" formControlName="file">
                <button (click)="onUpload()" class="btn btn-primary ms-2">
                  Upload
                </button>
              </div>
            </div> -->
            <div class="file-upload">
              <div>Drag and drop or <a (click)="fileInput.click()">Browse</a> your file</div>
            </div>

            <div class="my-2">
              <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="file">

              <div class="file-name" *ngFor="let item of selectedFiles">
                <div class="d-flex align-items-center justify-content-between">
                  <span style="width: 130px;">{{item.name}}</span>
                  <mat-progress-bar *ngIf="selectedFile" class="w-50" mode="determinate" value="100"></mat-progress-bar>
                  <a *ngIf="selectedFile" class="pointer text-end" (click)="deleteFile()">
                    <img style="color: #bdb8b8;" src="assets/images/close.svg" width="20" height="20">
                  </a>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mime type</mat-label>
              <mat-select formControlName="mimetype" required>
                <mat-option *ngFor="let item of deviceType" value="{{item.value}}">{{item.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" class="w-100">
              <mat-label>Enter Asset Name</mat-label>
              <input matInput formControlName="assetName" required>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" class="w-100">
              <mat-label>Enter Description</mat-label>
              <input matInput formControlName="description">
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Device Mode</mat-label>
              <mat-select formControlName="deviceMode" required>
                <mat-option value="BS" *ngFor="let item of deviceMode" [value]="item.value">{{item.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="startDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="endDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="text-center my-5">
            <button class="btn add-btn" (click)="addNewAsset()">ADD</button>
          </div>
        </div>
      </form>
    </div>
    <!-- Form -->

  </div>
</div>
