.file {
  padding: 12px;
}

.date {
  width: 202px;
}



/* .mat-form-field-appearance-outline ::ng-deep .mat-form-field-flex {
  margin-top: -0.5em;
  height: 50px;
} */

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

.file-upload {
  color: #c0bebe;
  border: 1px dotted #e0e0e0;
  border-radius: 5px;
  text-align: center;
  padding: 55px;
}

.file-upload a {
  cursor: pointer;
  text-decoration: none;
}
