<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>
  <div class="col-lg-6 col-md-6 add-form" id="camera" @inOutPaneAnimation>
    <div class="d-flex justify-content-start">
      <a class="close-main pointer" (click)="closeAddCamera()"><img src="assets/images/Group 101.svg" /></a>
      <span class="form-heading">add asset</span>
    </div>

    <!-- Form -->
    <div>
      <form autocomplete="off" [formGroup]="addAssetForm">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Site Id" [matAutocomplete]="auto" formControlName="siteId" [(ngModel)]="searchText">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of siteIdList | search : searchText; let i=index" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-autocomplete>
              <mat-error class="mt-1">Site Id is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6" >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Device Id</mat-label>
              <mat-select formControlName="deviceId">
                <mat-option *ngFor="let item of deviceIdList" [value]="item">{{item}}</mat-option>
              </mat-select>
              <mat-error class="mt-1">Device Id is required</mat-error>
            </mat-form-field>
          </div>

          <!-- File Upload -->
          <div class="col-lg-12 col-md-6 mb-2">
            <div [class.valid]="addAssetForm.controls['file'].valid || !submit" [class.invalid]="(addAssetForm.controls['file'].hasError('required')) && submit || (addAssetForm.controls['file'].invalid)">
              <div>Drag and drop or <a (click)="fileInput.click()" class="pointer">Browse</a> your file</div>
          </div>

            <div>
              <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="file">
              <div class="file-name" *ngFor="let item of selectedFiles">
                <div class="d-flex align-items-center justify-content-between mt-2">
                  <span style="width: 130px;">{{item.name}}</span>
                  <mat-progress-bar *ngIf="selectedFile" class="w-50" mode="determinate" value="100"></mat-progress-bar>
                  <a *ngIf="selectedFile" class="pointer text-end" (click)="deleteFile()">
                    <img style="color: #bdb8b8;" src="assets/images/close.svg" width="20" height="20">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- /File Upload -->

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mime type</mat-label>
              <mat-select formControlName="mimetype">
                <mat-option *ngFor="let item of deviceType" value="{{item.value}}">{{item.value}}</mat-option>
              </mat-select>
              <mat-error class="mt-1">Mime type is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter Asset Name</mat-label>
              <input matInput formControlName="assetName">
              <mat-error class="mt-1">Asset Name is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter Description</mat-label>
              <input matInput formControlName="description">
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Device Mode</mat-label>
              <mat-select formControlName="deviceMode">
                <mat-option value="BS" *ngFor="let item of deviceMode" [value]="item.value">{{item.value}}</mat-option>
              </mat-select>
              <mat-error class="mt-1">Device Mode is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error class="mt-1">Start Date is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error class="mt-1">End Date is required</mat-error>
            </mat-form-field>
          </div>

          <div class="text-center my-5">
            <button class="btn add-btn" (click)="addNewAsset()">ADD</button>
          </div>
        </div>
      </form>
    </div>
    <!-- Form -->

  </div>
</div>
