<p>add-new-asset works!</p>
<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>
  <div class="col-lg-6 col-md-6 add-form" id="camera" @inOutPaneAnimation>

    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row justify-content-start">
        <a class="mt-3 pointer" (click)="closeAddCamera(false)"><img src="assets/images/Group 101.svg" /></a>
        <span class="form-heading">add asset</span>
      </div>

      <div class="mx-5 my-4 site-icons">
        <!-- <a (click)="openAnotherForm('showAddBusinessVertical')"><img src="assets/images/ver-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddCustomer')"><img src="assets/images/cust-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddSite')"><img src="assets/images/site-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddCamera')" class="boxshadow"><img src="assets/images/cam-icon-form.svg" class="mx-2 my-4 changesvgcolor" /></a>
              <a (click)="openAnotherForm('analytics')"><img src="assets/images/analy-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddUser')"><img src="assets/images/user-icon-form.svg" class="mx-2 my-4" /></a> -->
      </div>
    </div>

    <div>
      <form autocomplete="off" [formGroup]="addAssetForm">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <select id="customer" class="form-select my-1" formControlName="customer" [(ngModel)]="user.customer">
              <option value="" selected disabled>Select Customer</option>
              <option value="Customer-1">Customer-1</option>
              <option value="Customer-2">Customer-2</option>
            </select>
          </div>

          <div class="col-lg-6 col-md-6">
            <select id="site" class="form-select my-1" formControlName="site" [(ngModel)]="user.site">
              <option value="" selected disabled>Select Site</option>
              <option value="Site-1">Site-1</option>
              <option value="Site-2">Site-2</option>
            </select>
          </div>

          <div class="col-lg-12 col-md-6">
            <div class="text-center">
              <div class="d-flex align-items-center">
                <input class="form-control file" type="file" (change)="onChange($event)" formControlName="url" [(ngModel)]="user.url">
                <button (click)="onUpload()" class="btn btn-primary ms-2">
                  Upload
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <select id="mimeType" class="form-select my-1" formControlName="mimeType" [(ngModel)]="user.mimeType">
              <option  value="" selected disabled>Mime type</option>
              <option value="Video">Video</option>
              <option value="Audio">Audio</option>
            </select>
          </div>

          <div class="col-lg-6 col-md-6">
            <input type="text" class="form-control my-1" placeholder="Enter Duration" formControlName="duration" [(ngModel)]="user.duration">
          </div>

          <div class="col-lg-6 col-md-6">
            <input type="text" class="form-control my-1" placeholder="Enter Asset Name" formControlName="assetName" [(ngModel)]="user.assetName">
          </div>

          <div class="col-lg-6 col-md-6">
            <input type="text" class="form-control my-1" placeholder="Enter Description" formControlName="description" [(ngModel)]="user.description">
          </div>

          <div class="col-lg-12 col-md-6 d-flex my-1 escalation">
            <div style="width: 20%; background-color: #F8F8F8;" class="max-center p-2">URL</div>
            <div style="width: 80%; color: #084982;">
              <input type="text" class="form-control" placeholder="">
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <input type="date" class="form-control my-1" formControlName="fromDate" [(ngModel)]="user.fromDate">
          </div>

          <div class="col-lg-6 col-md-6">
            <input type="date" class="form-control my-1" formControlName="toDate" [(ngModel)]="user.toDate">
          </div>

          <div class="text-center my-5">
            <button class="btn add-btn" (click)="addNewAsset()">ADD</button>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
