.add-site {
    margin-top: 70px !important;
    max-height: calc(110vh - (200px));
    overflow-y: scroll;
}

.add-site:before {
   box-shadow: -25px 0 20px -20px #0000000D inset;
   opacity: 0.5;
   content: " ";
   height: 100%;
    /* left: -20px; */
   position: absolute;
   top: 0;
   width: 20px;
}

.add-site {
   background: none repeat scroll 0 0 #fff;
   height: 75vh;
   position: relative;
}

.d-flex h6 {
    text-transform: uppercase;
    color: #084982;
    font-weight: bold;
    margin-left: -12%;
}

.site-icons img {
    width: 18px; 
    margin: 12px;
}

.d-flex img {
    margin-left: -21%;
}

form {
    padding: 0 50px;
}

.form-select {
    background-color: #F8F8F8;
    height: 50px;
}

.form-control {
    height: 50px;
}

form .add-btn {
    background-color: #084982;
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

.latlong {
    background-color: #084982;
    color: #fff;
    height: 50px;
    border-radius: 5px;
}

.lat, .long {
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: 50px;
    margin-left: 20px;
    margin-top: 8px;
    width: 31.5%;    
}

.lat .form-control {
    background-color: #F8F8F8;
    width: 50%;
    margin-left: -13px;
    margin-top: -1px;
}

.long .form-control {
    background-color: #F8F8F8;
    width: 50%;
    margin-left: -13px;
    margin-top: -1px;
}

.site-icons a:hover, a:active {
    /* background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box; */
    /* border: 1px solid var(--unnamed-color-efefef); */
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    box-shadow: 5px 5px 10px #0000000D;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    opacity: 1;
    padding: 15px 0; /* trouble  trbl top right bottom left   */
    /* height: 50px !important; */
}

@media only screen and (max-width: 768px) {
    h6 {
        font-size: 15px;
    }

    .site-icons img {
        width: 13px; 
        margin: 13px;
    }
    
    .form-control, .form-select, .latlong {
        font-size: 12px;
    }

    .add-btn {
        font-size: 15px;
    }

    form .add-btn {
        background-color: #084982;
        color: #fff;
        width: 150px;
        height: 40px;
        border-radius: 25px;
    }

    .lat, .long {
        border: 1px solid #ced4da;
        border-radius: 5px;
        height: 50px;
        margin-left: 20px;
        margin-top: 8px;
        width: 29.5%;
    }
}