<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>
  <div class="col-lg-6 col-md-6 add-form" id="camera" @inOutPaneAnimation>

    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex">
        <a class="close-main pointer" (click)="closeTicket()"><img src="assets/icons/close_form.svg" /></a>
        <span class="form-heading">create new</span>
      </div>
    </div>

    <!-- Form -->
    <div>
      <form autocomplete="off" [formGroup]="addAssetForm" (ngSubmit)="addNewAsset()">
        <div class="row" *ngFor="let item of ticketBody.tasks; let i = index">
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>typeId</mat-label>
              <mat-select formControlName="typeId" [(ngModel)]="ticketBody.ticket.typeId">
                <mat-option *ngFor="let val of ticketType" [value]="val.keyId">{{ val.value }}</mat-option>
              </mat-select>
              <mat-error class="mt-1">typeId is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>reasonDescription</mat-label>
              <input matInput formControlName="reasonDescription" [(ngModel)]="ticketBody.ticket.reasonDescription">
              <mat-error class="mt-1">reasonDescription is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>requestedBy</mat-label>
              <input matInput formControlName="requestedBy" [(ngModel)]="ticketBody.ticket.requestedBy">
              <mat-error class="mt-1">requestedBy is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>siteId</mat-label>
              <mat-select formControlName="siteId" [(ngModel)]="ticketBody.ticket.siteId">
                <mat-option *ngFor="let id of siteIds" [value]="id.siteid">{{ id.siteid }} - {{ id.siteShortName }}</mat-option>
              </mat-select>
              <mat-error class="mt-1">siteId is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>informedThrough</mat-label>
              <mat-select formControlName="informedThrough" [(ngModel)]="ticketBody.ticket.informedThrough">
                <mat-option *ngFor="let val of sourceOfRequest" [value]="val.keyId">{{ val.value }}</mat-option>
              </mat-select>
              <mat-error class="mt-1">informedThrough is required</mat-error>
            </mat-form-field>
          </div>


          <!-- tasks -->
          <div class="d-flex justify-content-start align-items-center my-2">
            <h2 class="m-0">Tasks</h2>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>ticketCategory</mat-label>
              <mat-select formControlName="categoryId" [(ngModel)]="ticketBody.tasks[i].categoryId">
                <mat-option *ngFor="let val of ticketCategory" [value]="val.keyId">{{ val.value }}</mat-option>
              </mat-select>
              <mat-error class="mt-1">categoryId is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>subCategoryId</mat-label>
              <mat-select formControlName="subCategoryId" [(ngModel)]="ticketBody.tasks[i].subCategoryId">
                <mat-option *ngFor="let val of ticketSubCategory" [value]="val.keyId">{{ val.value }}</mat-option>
              </mat-select>
              <mat-error class="mt-1">subCategoryId is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>reasonId</mat-label>
              <mat-select formControlName="reasonId" [(ngModel)]="ticketBody.tasks[i].reasonId">
                <mat-option *ngFor="let val of taskReason" [value]="val.keyId">{{ val.value }}</mat-option>
              </mat-select>
              <mat-error class="mt-1">reasonId is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>priorityId</mat-label>
              <mat-select formControlName="priorityId" [(ngModel)]="ticketBody.tasks[i].priorityId">
                <mat-option *ngFor="let val of ticketPriority" [value]="val.keyId">{{ val.value }}</mat-option>
              </mat-select>
              <mat-error class="mt-1">priorityId is required</mat-error>
            </mat-form-field>
          </div>

          <!-- <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remarks</mat-label>
              <input matInput formControlName="remarks" [(ngModel)]="ticketBody.tasks[i].remarks">
              <mat-error class="mt-1">Remarks is required</mat-error>
            </mat-form-field>
          </div> -->

          <div class="col-lg-2 col-md-2">
            <button mat-stroked-button class="mt-2" style="color: #084982" (click)="onTaskAdd(item)">Add</button>
          </div>

          <div class="col-lg-12 col-md-12 mt-2" *ngIf="tasks.length > 0">
            <div class="list-header row">
              <p class="col-lg-2">Category</p>
              <p class="col-lg-3">Sub category</p>
              <p class="col-lg-2">Priority</p>
              <p class="col-lg-2">Reason</p>
            </div>

            <div *ngFor="let task of tasks" class="list-item row">
              <p class="col-lg-2">{{ task.categoryId == 1 ? 'Assets' : task.categoryId == 2 ? 'Camers' : '' }}</p>
              <p class="col-lg-3">{{ task.subCategoryId == 1 ? 'Site Down' : task.subCategoryId == 2 ? 'Footage Required' : task.subCategoryId == 3 ? 'Screen Blank' : task.subCategoryId == 4 ? 'Add not playing' : '' }}</p>
              <p class="col-lg-2">{{ task.priorityId == 1 ? 'Low' : task.priorityId == 2 ? 'Medium' : task.priorityId == 3 ? 'High' : '' }}</p>
              <p class="col-lg-4">{{ task.reasonId == 1 ? 'No streem from camera' : task.reasonId == 2 ? 'Want new camers' : '' }}</p>
            </div>
          </div>
          <!-- /tasks -->

          <div class="text-center my-3">
            <button class="btn add-btn">CREATE</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /Form -->

  </div>
</div>
