<div class="container-fluid users" id="top">
  <!-- header -->
  <div class="d-flex justify-content-between align-items-center mb-2">
    <div class="users-header">
      <p class="m-0">Total Tasks - <span>{{frTickets?.length}}</span></p>
    </div>

    <div class="d-flex">
      <div class="mx-2">
        <button mat-flat-button color="primary" class="py-0" (click)="openSitesDialog()">Site Entry</button>
      </div>
      <div class="mx-2">
        <button mat-flat-button color="primary" class="py-0" (click)="openTasksDialog()">View Tasks</button>
      </div>
      <div class="mx-2">
        <button mat-flat-button color="primary" class="py-0" (click)="openVisitExit()">Site Exit</button>
      </div>
    </div>
  </div>
  <!-- /header -->

  <!-- overall tasks -->
    <div class="table-resp">
      <table class="table table-hover" id="mytable">
        <thead>
          <tr class="form1">
            <th>
              <span>ticketId</span>
              <!-- <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px"> -->
            </th>

            <th>
              <span>ticketType</span>
            </th>

            <th>
              <span>siteId</span>
            </th>

            <th>
              <span>siteName</span>
            </th>

            <th>
              <span>indentAdd</span>
            </th>

            <th>
              <span>indentView</span>
            </th>

            <th>
              <span>reasonDescription</span>
            </th>

            <th>
              <span>createdTime</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let cust of frTickets" (dblclick)="openTicketTaskDialog(cust)">
            <td>
              <p>{{ cust.ticketId }}</p>
            </td>
            <td>
              <p>{{ cust.ticketType }}</p>
            </td>

            <td>
              <p>{{ cust.siteId }}</p>
            </td>

            <td>
              <p>{{ cust.siteName }}</p>
            </td>

            <td>
              <a class="pointer" (click)="show('indent'); ticketIdToFr(cust)">
                <img src="assets/icons/add.svg" width="40">
              </a>
            </td>

            <td>
              <p (click)="openDetailsDialog(cust)">View</p>
            </td>

            <td>
              <p>{{ cust.reasonDescription }}</p>
            </td>

            <td>
              <p>{{ cust.createdTime }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- /overall tasks -->

  <!-- current tasks -->
  <ng-template #tasksDialog>
    <div style="background-color: #084982;">
      <p class="dialog-title">view tasks</p>
    </div>

    <mat-dialog-content>
      <div class="table-resp">
        <table class="table table-hover" id="mytable">
          <thead>
            <tr class="form1">
              <th>
                <span>id</span>
                <!-- <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px"> -->
              </th>

              <th>
                <span>category</span>
              </th>

              <th>
                <span>subCategory</span>
              </th>

              <th>
                <span>reason</span>
              </th>

              <th>
                <span>status</span>
              </th>

              <th>
                <span>replace</span>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let cust of tasks">
              <td>
                <p>{{ cust.id }}</p>
              </td>
              <td>
                <p>{{ cust.category }}</p>
              </td>

              <td>
                <p>{{ cust.subCategory }}</p>
              </td>

              <td>
                <p>{{ cust.reason }}</p>
              </td>

              <td>
                <!-- <a class="mx-1 pointer" (click)="logTaskStatus(cust, 2)">
                  <img src="assets/icons/forward.svg" width="20">
                </a> -->

                <a class="mx-1 pointer" (click)="openCnfrmStatusDialogt(cust, 'pause')">
                  <img src="assets/icons/pause.svg" width="20">
                </a>

                <a class="mx-1 pointer" (click)="openCnfrmStatusDialogt(cust, 'shedule')">
                  <img src="assets/icons/scheduled.svg" width="20">
                </a>

                <a class="mx-1 pointer" (click)="openCnfrmStatusDialogt(cust, 'close')">
                  <img src="assets/icons/close_black.svg" width="20">
                </a>
              </td>

              <td>
                <a class="mx-1 pointer" (click)="openCreateOrder(cust)">
                  <img src="assets/icons/add.svg" width="35">
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex align-items-center justify-content-center" style="height: 20vh;" *ngIf="tasks.length == 0">
          <h1 class="text-secondary">No Tasks</h1>
        </div>
      </div>
    </mat-dialog-content>

    <div class="d-flex justify-content-end" mat-dialog-actions>
      <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
    </div>
  </ng-template>
  <!-- /current tasks -->

</div>


<ng-template #cnfrmStatusDialog>
  <div *ngIf="currentStatusType == 'pause'">
    <div style="background-color: #084982;">
      <p class="dialog-title">pause status</p>
    </div>

    <mat-dialog-content>
      <p>Are you want to pause the status <span style="font-weight: 600;">{{currentStatusItem?.subCategory}}</span></p>
    </mat-dialog-content>

    <div class="d-flex align-items-center justify-content-end">
      <div mat-dialog-actions class="me-2">
        <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
      </div>
      <div mat-dialog-actions>
        <button mat-stroked-button style="color: #084982; border: 1px solid #084982; padding: 0;" mat-dialog-close (click)="logTaskStatus(currentStatusItem, 3)">Submit</button>
      </div>
    </div>
  </div>

  <div *ngIf="currentStatusType == 'shedule'">
    <div style="background-color: #084982;">
      <p class="dialog-title">shedule status</p>
    </div>

    <mat-dialog-content>
      <p>Are you want to shedule the status <span style="font-weight: 600;">{{currentStatusItem?.subCategory}}</span></p>
    </mat-dialog-content>

    <div class="d-flex align-items-center justify-content-end">
      <div mat-dialog-actions class="me-2">
        <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
      </div>
      <div mat-dialog-actions>
        <button mat-stroked-button style="color: #084982; border: 1px solid #084982; padding: 0;" mat-dialog-close (click)="logTaskStatus(currentStatusItem, 4)">Submit</button>
      </div>
    </div>
  </div>

  <div *ngIf="currentStatusType == 'close'">
    <div style="background-color: #084982;">
      <p class="dialog-title">close status</p>
    </div>

    <mat-dialog-content>
      <p>Are you want to close the status <span style="font-weight: 600;">{{currentStatusItem?.subCategory}}</span></p>
    </mat-dialog-content>

    <div class="d-flex align-items-center justify-content-end">
      <div mat-dialog-actions class="me-2">
        <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
      </div>
      <div mat-dialog-actions>
        <button mat-stroked-button style="color: #084982; border: 1px solid #084982; padding: 0;" mat-dialog-close (click)="logTaskStatus(currentStatusItem, 5)">Submit</button>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #ticketTaskDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">view tasks</p>
  </div>

  <mat-dialog-content>
    <div class="table-res">
      <table class="table" id="mytable">
        <thead>
          <tr class="task-table">
            <th>taskId</th>

            <th>categoryId</th>

            <th>subCategoryId</th>

            <th>reasonId</th>

            <th>createdTime</th>

            <th>priorityId</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let cust of ticketTasks; let i = index">
            <td>
              <p>{{ cust.id }}</p>
            </td>

            <td>
              <p>{{ cust.categoryId == 1 ? 'Camera' : cust.categoryId == 2 ? 'Assets' : '' }}</p>
            </td>

            <td>
              <p>{{ cust.subCategoryId == 1 ? 'Site Down' : cust.subCategoryId == 2 ? 'Footage Required' : cust.subCategoryId == 3 ? 'Blank Screen' : ''  }}</p>
            </td>

            <td>
              <p>{{ cust.reasonId }}</p>
            </td>

            <td>
              <p>{{ cust.createdTime }}</p>
            </td>

            <td>
              <p>{{ cust.priorityId }}</p>
            </td>

            <!-- <td>
              <p>{{ cust.statusId == 1 ? 'Open' : cust.statusId == 2 ? 'In-Progress' : cust.statusId == 3 ? 'Closed' : cust.statusId == 4 ? 'Rejected' : '' }}</p>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #viewSitesDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">view site</p>
  </div>

  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Sites</mat-label>
          <mat-select [(ngModel)]="assignedObj.statusId">
            <mat-option *ngFor="let item of sites" [value]="item.siteId">{{item.siteName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div class="d-flex align-items-center justify-content-end">
    <div mat-dialog-actions class="me-2">
      <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button style="color: #084982; border: 1px solid #084982; padding: 0;" mat-dialog-close (click)="fieldVisitEntry(assignedObj.statusId)">Entry</button>
    </div>
  </div>
</ng-template>

<ng-template #exitDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">exit site</p>
  </div>

  <mat-dialog-content>
    <div class="row">
      <!-- <div class="col-lg-12 col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>travelAllowance</mat-label>
          <input matInput [(ngModel)]="fieldExitBody.travelAllowance">
        </mat-form-field>
      </div>

      <div class="col-lg-12 col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>foodAllowance</mat-label>
          <input matInput [(ngModel)]="fieldExitBody.foodAllowance">
        </mat-form-field>
      </div> -->

      <div class="col-lg-12 col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>otherAllowance</mat-label>
          <input matInput [(ngModel)]="fieldExitBody.otherAllowance">
        </mat-form-field>
      </div>

      <div class="col-lg-12 col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>remarks</mat-label>
          <input matInput [(ngModel)]="fieldExitBody.remarks">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div class="d-flex align-items-center justify-content-end">
    <div mat-dialog-actions class="me-2">
      <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button style="color: #084982; border: 1px solid #084982; padding: 0;" mat-dialog-close (click)="fieldVisitExit()">Submit</button>
    </div>
  </div>
</ng-template>

<ng-template #viewDetailsDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">view ticket</p>
  </div>

  <mat-dialog-content>
    <div class="row">
      <div class="table-res col-lg-12">
        <table class="table" id="mytable">
          <thead>
            <tr class="task-table">
              <th>slNo</th>

              <th>itemCode</th>

              <th>serialNo</th>

              <th>createdTime</th>

              <th>modifiedTime</th>

              <th>status</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let inven of indentItems; let i = index">
              <td>
                <p>{{ inven.id }}</p>
              </td>

              <td>
                <p>{{ inven.itemCode }}</p>
              </td>

              <td>
                <p>{{ inven.serialNo }}</p>
              </td>

              <td>
                <p>{{ inven.createdTime }}</p>
              </td>

              <td>
                <p>{{ inven.modifiedTime }}</p>
              </td>

              <td>
                <p (click)="openEditStatus(inven)">
                  {{ inven.statusId == 1 ? "Requested" : inven.statusId == 2 ? "Dispatched" : inven.statusId == 3 ? "Received" : inven.statusId == 4 ? "Installed" : inven.statusId == 5 ? "Returned" : '' }}
                </p>

                <ng-template #editStatusDialog>
                  <div style="background-color: #084982;">
                    <p class="dialog-title">view status</p>
                  </div>

                  <mat-dialog-content>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Edit Status</mat-label>
                      <mat-select [(ngModel)]="statusObj.statusId">
                        <mat-option *ngFor="let item of indentStatus" [value]="item.keyId">{{ item.value }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-dialog-content>

                  <div class="d-flex align-items-center justify-content-end">
                    <div mat-dialog-actions class="me-2">
                      <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-stroked-button style="color: #084982; border: 1px solid #084982; padding: 0;" mat-dialog-close (click)="updateInventoryStatus()">Update</button>
                    </div>
                  </div>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-dialog-content>

  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
  </div>
</ng-template>

<ng-template #createOrderDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">view ticket</p>
  </div>

  <mat-dialog-content>
    <div class="row">
      <div class="table-res col-lg-12">
        <table class="table" id="mytable">
          <thead>
            <tr class="task-table">
              <th>slNo</th>

              <th>itemCode</th>

              <th>serialNo</th>

              <th>createdTime</th>

              <th>modifiedTime</th>

              <th>Replace</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let inven of indentItems; let i = index">
              <td>
                <p>{{ inven.id }}</p>
              </td>

              <td>
                <p>{{ inven.itemCode }}</p>
              </td>

              <td>
                <p>{{ inven.serialNo }}</p>
              </td>

              <td>
                <p>{{ inven.createdTime }}</p>
              </td>

              <td>
                <p>{{ inven.modifiedTime }}</p>
              </td>

              <td>
                <p (click)="openReplaceComponent(inven)">{{ inven.statusId }}</p>

                <!-- <ng-template #editStatusDialog>
                  <div style="background-color: #084982;">
                    <p class="dialog-title">view status</p>
                  </div>

                  <mat-dialog-content>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Edit Status</mat-label>
                      <mat-select [(ngModel)]="statusObj.statusId">
                        <mat-option *ngFor="let item of indentStatus" [value]="item.keyId">{{ item.value }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-dialog-content>

                  <div class="d-flex align-items-center justify-content-end">
                    <div mat-dialog-actions class="me-2">
                      <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-stroked-button style="color: #084982; border: 1px solid #084982; padding: 0;" mat-dialog-close (click)="updateInventoryStatus()">Update</button>
                    </div>
                  </div>
                </ng-template> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-dialog-content>

  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
  </div>
</ng-template>

<ng-template #replaceComponentDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">CREATE CENTRALBOX</p>
  </div>


  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>oldInventoryId</mat-label>
          <mat-select [(ngModel)]="body.oldInventoryId">
            <mat-option *ngFor="let item of inventoryId" [value]="item.slNo" [hidden]="item.statusId != 3">{{ item.slNo }} - {{ item.name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>newInventoryId</mat-label>
          <mat-select [(ngModel)]="body.newInventoryId">
            <mat-option [value]="inventoryId2.inventoryId">{{ inventoryId2.inventoryId }} - {{ inventoryId2.itemCode }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Edit Status</mat-label>
          <mat-select [(ngModel)]="statusObj.statusId">
            <mat-option *ngFor="let item of indentStatus" [value]="item.keyId">{{ item.value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Remarks</mat-label>
          <input matInput>
        </mat-form-field>
      </div> -->
    </div>
  </mat-dialog-content>

  <div class="d-flex align-items-center justify-content-end">
    <div mat-dialog-actions class="me-2">
      <button mat-stroked-button style="color: #D34124; border: 1px solid #D34124; padding: 0;" mat-dialog-close>Close</button>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button style="color: #084982; border: 1px solid #084982; padding: 0;" mat-dialog-close (click)="replaceComponent()">Update</button>
    </div>
  </div>
</ng-template>

<div style="position: fixed; top: 70px; right: 0; z-index: 99; width: 100%;" *ngIf="showIndent">
  <app-add-new-indent (newItemEvent)="closenow('indent')"></app-add-new-indent>
</div>
