<div class="row formModal">
    <div class="col-lg-6 col-md-6"></div>

    <div class="col-lg-6 col-md-6 add-form" id="user" @inOutPaneAnimation>
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <a class="close-main pointer" (click)="closeIndent()"><img src="assets/icons/close_form.svg" /></a>
                <span class="form-heading">add dc</span>
            </div>
        </div>

        <!-- Form -->
        <div>
            <form autocomplete="off" [formGroup]="UserForm">
                <mat-card>
                <div class="row" *ngFor="let item of inventoryBody.itemCode; let i = index">

                    <div class="col-lg-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>name</mat-label>
                            <mat-select formControlName="name" [(ngModel)]="inventoryBody.name">
                                <!-- <mat-option *ngFor="let val of productIds" [value]="val.suggestedItemCode">{{
                                    val.materialDescription }}</mat-option> -->
                                    <mat-option [value]="1565">Brey</mat-option>
                            </mat-select>
                            <mat-error class="mt-1"> name is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>descriptionOfGoods</mat-label>
                            <mat-select formControlName="descriptionOfGoods" [(ngModel)]="inventoryBody.itemCode[i].descriptionOfGoods">
                                <mat-option *ngFor="let val of productIds" [value]="val.name">{{val.name}}</mat-option>
                            </mat-select>
                            <mat-error class="mt-1"> descriptionOfGoods is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>address</mat-label>
                            <mat-select formControlName="address" [(ngModel)]="inventoryBody.address">
                                <!-- <mat-option *ngFor="let val of productIds" [value]="val.suggestedItemCode">{{
                                    val.materialDescription }}</mat-option> -->
                                <mat-option value="Atmakur Rural">Atmakur Rural</mat-option>
                            </mat-select>
                            <mat-error class="mt-1"> address is required</mat-error>
                        </mat-form-field>
                    </div>

                    
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>itemCode</mat-label>
                            <mat-select formControlName="itemCode" [(ngModel)]="inventoryBody.itemCode[i].itemCode">
                    <mat-option *ngFor="let val of productIds" [value]="val.itemCode">{{val.itemCode}}</mat-option>
                            </mat-select>
                            <mat-error class="mt-1"> itemCode is required</mat-error>
                        </mat-form-field>
                    </div>


                    <div class="col-lg-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>state</mat-label>
                            <mat-select formControlName="state" [(ngModel)]="inventoryBody.state">
                                <!-- <mat-option *ngFor="let val of productIds" [value]="val.suggestedItemCode">{{
                                    val.materialDescription }}</mat-option> -->
                                <mat-option value="Andhra Pradesh">Andhra Pradesh</mat-option>
                            </mat-select>
                            <mat-error class="mt-1"> state is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>code</mat-label>
                            <mat-select formControlName="code" [(ngModel)]="inventoryBody.code">
                                <!-- <mat-option *ngFor="let val of productIds" [value]="val.suggestedItemCode">{{
                                    val.materialDescription }}</mat-option> -->
                                <mat-option [value]="522503">522503</mat-option>
                            </mat-select>
                            <mat-error class="mt-1"> code is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="d-flex justify-content-end">
                        <!-- <button mat-stroked-button class="mt-2" style="color: #084982" (click)="onTaskAdd(item)">Add Item</button> -->
                        <a class="add-task-btn" (click)="onTaskAdd(item)">Add Item</a>
                    </div>
                </div>
                </mat-card>

                <!-- list -->
                <div class="col-lg-12 col-md-12 mt-2" *ngIf="items.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>name</th>
                                <th>descriptionOfGoods</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of items; let j = index">
                                <th>{{ j + 1 }}</th>
                                <td>{{ task.name }}</td>
                                <td>{{ task.itemCode }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center my-3">
                    <button type="submit" class="btn add-btn" (click)="submit()">ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>