<div class="row formModal">
    <div class="col-lg-6 col-md-6"></div>
    <div class="col-lg-6 col-md-6 add-form" id="camera"  @inOutPaneAnimation>

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <a class="close-main pointer" (click)="closeAddCamera()"><img src="assets/icons/Group 101.svg" /></a>
                <span class="form-heading">add camera</span>
            </div>

            <div class="mx-5 my-4 site-icons">
                <a (click)="openAnotherForm('showAddBusinessVertical')"><img src="assets/icons/ver-icon-form.svg" class="mx-2 my-4" /></a>
                <a (click)="openAnotherForm('showAddCustomer')"><img src="assets/icons/cust-icon-form.svg" class="mx-2 my-4" /></a>
                <a (click)="openAnotherForm('showAddSite')"><img src="assets/icons/site-icon-form.svg" class="mx-2 my-4" /></a>
                <a (click)="openAnotherForm('showAddCamera')" class="boxshadow"><img src="assets/icons/cam-icon-form.svg" class="mx-2 my-4 changesvgcolor" /></a>
                <a (click)="openAnotherForm('analytics')"><img src="assets/icons/analy-icon-form.svg" class="mx-2 my-4" /></a>
                <a (click)="openAnotherForm('showAddUser')"><img src="assets/icons/user-icon-form.svg" class="mx-2 my-4" /></a>
            </div>
        </div>

        <div>
            <form autocomplete="off">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select my-1">
                            <option selected>Select Vertical</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select my-1">
                            <option selected>Select Customer</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select my-1">
                            <option selected>Select Site</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Gate Way" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Camera Id" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Camera Make" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Camera Model" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Camera Order" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Camera Name" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="LTE Enabled" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Active" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="LPR Server" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="LPR Enabled" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="User Name" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Password" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="On VIF Url" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Video Tour" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Web Url" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="Analytics" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control my-1" placeholder="PTZ" />
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <textarea class="form-control my-1" placeholder="Add Remarks...." style="height: 100px;"></textarea>
                    </div>
                    <div class="text-center my-5">
                        <button class="btn add-btn">ADD</button>
                    </div>
                </div>
            </form>


            <!-- <form autocomplete="off">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control m-1" placeholder="User Name*" required/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="password" class="form-control m-1" placeholder="Password*" required/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control m-1" placeholder="First Name*" required/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control m-1" placeholder="Last Name*" required/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select m-1">
                            <option selected>Role</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select m-1">
                            <option selected>Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select m-1">
                            <option selected>Active</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select m-1">
                            <option selected>Realm</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="email" class="form-control m-1" placeholder="Email Id*" required/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="number" class="form-control m-1" placeholder="Contact Number*" required/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select m-1" required>
                            <option selected>Country*</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select m-1">
                            <option selected>State</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <select id="" class="form-select m-1">
                            <option selected>District/City</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control m-1" placeholder="Pincode" />
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <input type="text" class="form-control m-1" placeholder="Area/Street" />
                    </div>
                    <label class="main mx-2 my-3">Safety Escort
                        <input type="checkbox" checked="checked">
                        <span class="geekmark"></span>
                    </label>

                    <div class="text-center mb-5">
                        <button class="btn add-btn">ADD</button>
                    </div>
                </div>
            </form> -->
        </div>

    </div>
</div>
