.table-resp {
  height: calc(100vh - 400px);
  overflow-y: auto;
}

.status-tile {
  background-color: #084982;
  color: #ffffff;
  border-radius: 5px;
}

.status-tile-count {
  font-weight: 600;
}

.tile-sub-count {
  background-color: #3a6da4;
  border-radius: 3px;
}