<!-- <app-loader *ngIf="showLoader"></app-loader> -->
<div class="container-fluid" id="top">
  <!-- header -->
  <div class="d-flex justify-content-between">
    <div class="users-header mt-2">
      <!-- <p>Total Devices - <span>{{device.length}}</span></p> -->
      <!-- <p>PeakHours - <span>{{peakHours}}</span></p> -->
    </div>
  </div>

  <!-- count -->
  <div class="row mb-2 mt-2">
    <!-- <div class="col-lg-1 col-md-1 d-flex justify-content-start">
            <div class="mx-2">
              <div class="status">PeakHours - <span>{{peakHours ? peakHours : 0}}</span></div>
            </div>
        </div> -->
    <!-- <div class="col-lg-1 col-md-1 d-flex justify-content-start">
        <div class="vl-yellow"></div>
        <div class="mx-2">
        <div class="status">InActive - </div>
        <div class="count">{{ total?.inactive ? total?.inactive : 0 }}</div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 d-flex justify-content-start">
    <div class="vl-red"></div>
    <div class="mx-2">
        <div class="status">LastMonth Count - </div>
        <div class="count">{{ total?.previous_month_users_count ? total?.previous_month_users_count : 0}}</div>
    </div>
    </div> -->
  </div>
  <!-- /count -->
  <!--
    <div class="row mt-2">
        <div class="col-lg-2 col-md-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Site Name</mat-label>
            <mat-select [(ngModel)]="filterDataObject.siteId">
              <mat-option value="All" (click)="filterWifiData()">All</mat-option>
                <mat-option *ngFor="let item of newTableData | search: siteSearch" [value]="item.siteid"  (click)="filterWifiData()" >{{ item.siteid }} - {{ item.sitename }}</mat-option>
            </mat-select>
        </mat-form-field>
        </div>

        <div class="col-lg-2 col-md-2">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Device Name</mat-label>
              <mat-select [(ngModel)]="filterDataObject.deviceId" (selectionChange)="filterWifiData()">
                  <mat-option value="RSMGLIN9902DW1">RSMGLIN9902DW1</mat-option>
                  <mat-option value="Dv1">Dv1</mat-option>
                  <mat-option value="Dv2">Dv2</mat-option>
              </mat-select>
          </mat-form-field>
          </div>

        <div class="col-lg-3 from-date">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Created from" [(ngModel)]="filterDataObject.startDate">
            <input matEndDate placeholder="Created to" [(ngModel)]="filterDataObject.endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>

            <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply (click)="filterWifiData()">Apply</button>
            </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </mat-form-field>
        </div>

        <div class="col-md-2 mt-1">
          <button class="create-btn" (click)="show('ticket')">Submit</button>
        </div>
    </div> -->
    <div class="row">
      <div class="col-lg-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select site</mat-label>
          <input matInput [matAutocomplete]="site" [(ngModel)]="filterObj.siteId">
          <button matSuffix mat-icon-button>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-autocomplete #site="matAutocomplete" >
            <!-- <mat-option value="All" (click)="filterDevices()">All</mat-option> -->
            <mat-option *ngFor="let item of siteData | search: siteSearch" [value]="item.siteid" (click)="filterDevices()" [hidden]="item.type == 'RSVIN10460001'">{{ item.siteid }} - {{ item.sitename }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    <div class="col-lg-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Device Name</mat-label>
        <mat-select>
          <mat-option [value]="null" (click)="devicefilter(null)">All</mat-option>
          <mat-option *ngFor="let item of wifiData" [value]="item.device_name" (click)="devicefilter(item)">{{item.device_name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </div>
 

  <div class="table-resp">
    <table class="table table-hover" id="mytable" #table>
      <thead>
        <tr class="form1">
          <th>
            <span>Id</span>
            <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th>
            <span>Device Name</span>
            <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th>
            <span>Details</span>
          </th>
        </tr>
      </thead>

      <tbody *ngIf="!showLoader">
        <tr *ngFor="let cust of newDeviceData ; let i = index">
          <td>
            <p>{{i+1}}</p>
          </td>
          <td>
            <p>{{cust.deviceId}}</p>
          </td>

          <td>
            <p class="text-primary pointer" (click)="viewWifi(cust)">View</p>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- error info -->
    <div class="err-info" style="height: 45vh;" *ngIf="newWifiData?.length == 0 && !showLoader">
      <h1 class="text-secondary">No Devices</h1>
    </div>

    <!-- loader -->
    <div *ngIf="showLoader" class="d-flex justify-content-center align-items-center" style="height: 45vh;">
      <app-loader></app-loader>
    </div>
  </div>
</div>

<ng-template #usedItemsDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">used items</p>
  </div>

  <div class="dialog-content">
    <div class="d-flex justify-content-end">
      <button class="create-btn mb-2" (click)="show('wifi')" mat-dialog-close>statistics</button>
    </div>
    <div class="table-res">
      <table class="table" id="mytable">
        <thead>
          <tr class="form1">
            <th>
              <span>Id</span>
              <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Hour</span>
              <img (click)="sort('createdTime')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Active Devices</span>
              <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Inactive</span>
              <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Total</span>
              <img (click)="sort('siteId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Time Spent</span>
              <img (click)="sort('createdTime')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Details</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let task of viewData?.hourlyStats; let i = index">
            <td>
              <p>{{i+1 }}</p>
            </td>
            <td>
              <p>{{ task.hour }}</p>
            </td>
            <td>
              <p>{{ task.active}}</p>
            </td>
            <td>
              <p>{{ task.inactive }}</p>
            </td>
            <td>
              <p>{{ task.total }}</p>
            </td>
            <td>
              <p>{{ task.timeSpent }}</p>
            </td>
            <td class="pointer" (click)="secondView(task)">
              <p  style="color: #084982;">view</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="dialog-close-btn" mat-dialog-close>Close</button>
  </div>
</ng-template>
<ng-template #usedItemsDialogTwo>
  <div style="background-color: #084982;">
    <p class="dialog-title">used items</p>
  </div>

  <div class="dialog-content">
    <div class="table-res">
      <table class="table" id="mytable">
        <thead>
          <tr class="form1">
            <th>
              <span>Id</span>
              <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>MacAddress</span>
              <img (click)="sort('createdTime')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Time Spent</span>
              <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
        </thead>

        <tbody>
          <tr *ngFor=" let item of secondTable; let i = index">
            <td>
              <p>{{i+1 }}</p>
            </td>
            <td>
              <p>{{ item.mac_address }}</p>
            </td>
            <td>
              <p>{{ item.time_spent}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="dialog-close-btn" mat-dialog-close>Close</button>
  </div>
</ng-template>

<div *ngIf="showWifiDetail">
  <app-wifi-detail [show]="inputToChild" (newItemEvent)="closenow('wifi')"></app-wifi-detail>
</div>
