<!-- <app-loader *ngIf="showLoader"></app-loader> -->
<div class="container-fluid" id="top">
  <!-- header -->
  <div class="d-flex justify-content-between">
    <div class="users-header mt-2">
      <p>Total Devices - <span>{{newDeviceData?.length}}</span></p>
      <!-- <p>PeakHours - <span>{{peakHours}}</span></p> -->
    </div>
    <!-- <div class="d-flex justify-content-end">
      <button class="create-btn mb-2" (click)="show('wifi')">statistics</button>
    </div> -->
  </div>

  <!-- count -->
  <div class="row mb-2 mt-2">
    <!-- <div class="col-lg-1 col-md-1 d-flex justify-content-start">
            <div class="mx-2">
              <div class="status">PeakHours - <span>{{peakHours ? peakHours : 0}}</span></div>
            </div>
        </div> -->
    <!-- <div class="col-lg-1 col-md-1 d-flex justify-content-start">
        <div class="vl-yellow"></div>
        <div class="mx-2">
        <div class="status">InActive - </div>
        <div class="count">{{ total?.inactive ? total?.inactive : 0 }}</div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 d-flex justify-content-start">
    <div class="vl-red"></div>
    <div class="mx-2">
        <div class="status">LastMonth Count - </div>
        <div class="count">{{ total?.previous_month_users_count ? total?.previous_month_users_count : 0}}</div>
    </div>
    </div> -->
  </div>

    <div class="row mt-2">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select site</mat-label>
          <input matInput #siteIdInput [matAutocomplete]="site" [(ngModel)]="siteNg" (keyup)="searchSites($event)">
          <button matSuffix mat-icon-button>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-autocomplete #site="matAutocomplete">
            <mat-option value="All" (click)="filterSites('All')" *ngIf="tableData.length !== 0">All</mat-option>
            <mat-option *ngFor="let item of tableData | search: siteSearch" [value]="item.siteid" (click)="filterSites(item.siteid)">
              {{ item.siteid }} - {{ item.sitename }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Device Name</mat-label>
          <mat-select [(ngModel)]="filterDataObject.device_name">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let item of dayWiseStatsData" [value]="item.device_name" (click)="devicefilter()">{{item.device_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 from-date">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Created from" [(ngModel)]="filterDataObject.doif">
            <input matEndDate placeholder="Created to" [(ngModel)]="filterDataObject.doit">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <button mat-button matDateRangePickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDateRangePickerApply (click)="devicefilter()">Apply</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field class="example-form-field" appearance="outline" class="w-100">
          <mat-label>Search</mat-label>
          <input matInput type="text" [(ngModel)]="searchText">
          <button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>


  <div class="table-resp">
    <table class="table table-hover" id="mytable" #table>
      <thead>
        <tr class="form1">
          <!-- <th>
            <span>Id</span>
            <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th> -->
          <th>
            <span>Wifi DeviceName</span>
            <img (click)="sort('device_name')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th>
            <p>Date</p>
            <img (click)="sort('date_connected')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th>
            <p>Active</p>
            <img (click)="sort('active_count')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th >
            <p>InActive</p>
            <img (click)="sort('inactive_count')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th>
            <p>Total</p>
            <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th>
            <span>Details</span>
            <!-- <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px"> -->
          </th>
        </tr>
      </thead>

      <tbody *ngIf="!showLoader">
        <tr *ngFor="let cust of newDeviceData | search: searchText; let i = index">
          <!-- <td>
            <p>{{i+1}}</p>
          </td> -->
          <td>
            <p class="pointer text-primary" (click)="show('wifi', cust)">{{cust.device_name}}</p>
          </td>
          <td>{{cust.date_connected}}</td>
          <td>{{cust.active_count}}</td>
          <td >{{cust.inactive_count}}</td>
          <td>
            <p>{{ cust.active_count + cust.inactive_count }}</p>
          </td>
          <td>
            <p class="text-primary pointer" (click)="hourWiseStats(cust)">View</p>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->


    <!-- error info -->
    <div class="err-info" style="height: 45vh;" *ngIf="newWifiData?.length == 0 && !showLoader">
      <h1 class="text-secondary">No Devices</h1>
    </div>

    <!-- loader -->
    <div *ngIf="showLoader" class="d-flex justify-content-center align-items-center" style="height: 45vh;">
      <app-loader></app-loader>
    </div>
  </div>
</div>

<ng-template #usedItemsDialog>
  <div style="background-color: #084982;" >
    <p class="dialog-title">{{ currentItem.device_name}}</p>
  </div>

  <div class="dialog-content">
    <div class="table-res">
      <table class="table" id="mytable">
        <thead>
          <tr class="form1">
            <!-- <th>
              <span>Id</span>
              <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th> -->
            <!-- <th>
              <span>Wifi device_name</span>
              <img (click)="sort('createdTime')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th> -->
            <th>
              <span>Time</span>
              <img (click)="sort('time_connected')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Active Count</span>
              <img (click)="sort('active_count')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Inactive Count</span>
              <img (click)="sort('inactive_count')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>

            <th>
              <span>Total Count</span>
              <img (click)="sort('siteId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <!-- <th>PeakHour</th> -->
            <th>
              <span>Details</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr [style.background-color]="task.peak == 1 ? '#A8D38D' : task.peak == 0 ? '' : 0" *ngFor="let task of hourWiseStatsData; let i = index">
            <!-- <td>
              <p>{{i+1 }}</p>
            </td> -->
            <!-- <td>
              <p>{{ task.device_name }}</p>
            </td> -->
            <td >
              <p >{{ task.time_connected }}</p>
            </td>
            <td>
              <p>{{ task.active_count}}</p>
            </td>
            <td>
              <p>{{ task.inactive_count }}</p>
            </td>
            <td>
              <p>{{ task.active_count + task.inactive_count }}</p>
            </td>
            <!-- <td >{{task.peak}}</td> -->

            <td class="pointer" (click)="deviceWiseStats(task)">
              <p  style="color: #084982;">view</p>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="dialog-close-btn" mat-dialog-close>Close</button>
  </div>
</ng-template>

<ng-template #usedItemsDialogTwo>
   <div style="background-color: #084982;">
    <div class="d-flex justify-content-between align-items-center">
      <p class="dialog-title ">{{currentItem.device_name}}</p>
      <p class="dialog-title ">Hour[{{currentItem.time_connected}}]</p>
    </div>
   </div>


  <div class="dialog-content">
    <div class="table-res">
      <table class="table" id="mytable">
        <thead>
          <tr class="form1">
            <!-- <th>
              <span>Id</span>
              <img (click)="sort('ticketId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th> -->
            <th>
              <span>MacAddress</span>
              <img (click)="sort('mac_address')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>Time Spent</span>
              <img (click)="sort('time_spent')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
        </thead>

        <tbody>
          <tr *ngFor=" let item of deviceWiseStatsData; let i = index">
            <!-- <td>
              <p>{{i+1 }}</p>
            </td> -->
            <td>
              <p>{{ item.mac_address }}</p>
            </td>
            <td>
              <p>{{ item.time_spent}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="dialog-close-btn" mat-dialog-close>Close</button>
  </div>
</ng-template>

<div *ngIf="showWifiDetail">
  <app-wifi-detail [show]="inputToChild" (newItemEvent)="closenow('wifi')"></app-wifi-detail>
</div>
