/* .equipment {
  padding: 0 18px;
}

.equipment .checklist {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .equipment .checklist {
    font-size: 12px;
  }
} */

.add-form .d-flex img {
  margin-left: 0;
}

/* ::ng-deep .mat-tab-group.mat-primary.mat-background-primary>.mat-tab-header .mat-ink-bar {
  background-color: #3f51b5;
} */

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}
