<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>
  <div class="col-lg-6 col-md-6 add-form" id="additionalSite" @inOutPaneAnimation>

    <div class="row">
      <a class="col-lg-1 mt-3 pointer position-relative" style="right: 50px; bottom: 8px;"
        (click)="closeAddAdditionalSite(false)">
        <img src="assets/images/Group 101.svg">
      </a>

      <div class="col-lg-11 d-flex justify-content-between align-items-center">
        <div>
          <h5 class="m-0" style="font-size: 18px; font-weight: 600;">1000015 - Osaka Midland</h5>
          <h5 class="m-0 text-secondary" style="font-size: 18px;">IVISUSA1006</h5>
        </div>
        <div>
          <a class="pointer"><img src="assets/images/add.svg" alt="" (click)="deviceAdd()"></a>
        </div>
      </div>
    </div>

    <!-- <div class="text-secondary p-3" style="background-color: #084982;">
        <div class="w-100">
          <img class="pointer me-2" src="assets/images/Union 18.svg" alt="" width="15px" height="15px">
          <span class="mx-2"  *ngFor="let item of deviceList">{{item}}</span>
          <img class="pointer ms-2" style="text-align: end;" src="assets/images/Union 60.svg" alt="" width="15px" height="15px">
        </div>
    </div> -->

    <!-- <div class="d-flex justify-content-start" style="padding: 15px; background-color: #084982;"> -->
      <!-- <img src="assets/images/Union 18.svg" alt="" style="width: 40px; transform: rotate(0deg);" (click)="prevvert()"> -->

      <div class="mx-2 d-flex">
        <span class="pointer mx-2" *ngFor="let item of deviceList; let i=index" (click)="showNewForm()">
          {{item}} {{i+1}}
        </span>
      </div>

      <!-- <img src="assets/images/Union 60.svg" alt="" style="width: 40px;" (click)="nextvert()"> -->
    <!-- </div> -->

    <div class="mt-2">
      <form autocomplete="off" [formGroup]="addDevice" #addAdditionalSiteForm="ngForm">
        <div class="row">
          <div class="col-lg-6">
            <select class="form-select m-1" id="device" formControlName="device">
              <option value="" selected disabled>Select device</option>
              <option value="Device1" *ngFor="let item of deviceType">{{item.value}}</option>
            </select>
          </div>

          <div class="col-lg-6 d-flex align-items-center justify-content-between">
            <div>
              <label for="device" style="width: 93px; font-size: 12px;">Device Mode</label>
            </div>
            <div class="w-100">
              <select class="form-select m-1" id="device" formControlName="device">
                <option value="" selected disabled>Select</option>
                <option value="Device1">Device1</option>
              </select>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center justify-content-evenly">
            <div>
              <label for="device" style="width: 51px; font-size: 12px;">Ad Hours</label>
            </div>
            <div class="me-2">
              <select class="form-select m-1" id="device" formControlName="device">
                <option value="" selected disabled>Select</option>
                <option value="Device1">Device1</option>
              </select>
            </div>
            <span>-</span>
            <div>
              <select class="form-select m-1" id="device" formControlName="device">
                <option value="" selected disabled>Select</option>
                <option value="Device1">Device1</option>
              </select>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center justify-content-between">
            <div>
              <label for="device" style="width: 93px; font-size: 12px;">Ad Working Days</label>
            </div>
            <div class="w-100">
              <select class="form-select m-1" id="device" formControlName="device">
                <option value="" selected disabled>Select</option>
                <option value="Device1">Device1</option>
              </select>
            </div>
          </div>


          <div class="col-lg-6">
            <select class="form-select m-1" id="camera" formControlName="camera">
              <option value="" selected disabled>Accessories Type</option>
              <option value="Video">Video</option>
            </select>
          </div>

          <div class="col-lg-6">
            <select class="form-select m-1" id="temp" formControlName="temp">
              <option value="" selected disabled>Select Accessories</option>
              <option value="Camera">Camera</option>
            </select>
          </div>

          <div class="col-lg-6 d-flex align-items-center justify-content-between mb-3">
            <div>
              <label for="device" style="width: 108px; font-size: 12px;">Ad's Download Freq</label>
            </div>
            <div class="w-100">
              <input type="text" class="form-control m-2" placeholder="" />
            </div>
          </div>

          <div class="col-lg-6">
            <select class="form-select m-1" id="age" formControlName="age">
              <option value="" selected disabled>Status</option>
              <option value="Active">Active</option>
            </select>
          </div>

          <!-- AD PARAMETERS -->
          <div class="my-2">
            <h5 class="m-0" style="font-size: 15px; font-weight: 500;">ADVERTISEMENT PARAMETERS</h5>
          </div>

          <div class="col-lg-6">
            <select class="form-select m-1" id="age" formControlName="age">
              <option value="" selected disabled>Select temp range</option>
              <option value="Age1">Age1</option>
            </select>
          </div>

          <div class="col-lg-6">
            <select class="form-select m-1" id="age" formControlName="age">
              <option value="" selected disabled>Select age range</option>
              <option value="Age1">Age1</option>
            </select>
          </div>
          <!-- /AD PARAMETERS -->

          <div class="my-3 equipment">
            <label class="form-check-label me-3">Demographics</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">True</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">False</label>
            </div>
          </div>

          <!-- CAMERA DETAILS -->
          <div class="my-2">
            <h5 class="m-0" style="font-size: 15px; font-weight: 500;">CAMERA DETAILS</h5>
          </div>

          <div class="col-lg-6">
            <select class="form-select m-1" id="age" formControlName="age">
              <option value="" selected disabled>Select Cam Id</option>
              <option value="Age1">Age1</option>
            </select>
          </div>

          <div class="col-lg-6 d-flex align-items-center justify-content-between">
            <div>
              <label for="device" style="width: 30px; font-size: 12px;">FPS</label>
            </div>
            <div class="w-100">
              <input type="text" class="form-control m-1" placeholder="" />
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center justify-content-evenly">
            <div>
              <label for="device" style="width: 51px; font-size: 12px;">Ad Hours</label>
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Width" />
            </div>
            <span class="mx-2">X</span>
            <div>
              <input type="text" class="form-control" placeholder="Height" />
            </div>
          </div>

          <div class="col-lg-6 my-3 equipment">
            <label class="form-check-label me-3">Label</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Person</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Vehicle</label>
            </div>
          </div>
          <!-- /CAMERA DETAILS -->

          <div class="text-center my-3">
            <button type="submit" class="btn add-btn" (click)="add()">ADD</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
