/* .equipment {
  padding: 0 18px;
}

.equipment .checklist {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .equipment .checklist {
    font-size: 12px;
  }
} */

.add-form .d-flex img {
  margin-left: 0;
}

::ng-deep .mat-tab-group.mat-primary.mat-background-primary>.mat-tab-header .mat-ink-bar {
  background-color: #dc3545;
  height: 48px;
  z-index: -1;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

::ng-deep .mat-tab-group.mat-background-primary>.mat-tab-header {
  background-color: #084982;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 5px;
  bottom: 5px;
}
