<div class="row formModal">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-10 col-md-10 add-user">

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <a class="mt-3 pointer" (click)="closeAddUser(false)"><img src="assets/images/Group 101.svg" /></a>
                <h6 class="mt-5">add new user</h6>
            </div>

            <div class="mx-5 my-4 site-icons">
                <a><img src="assets/images/Union 24.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 25.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 26.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/bx-cctv (1).svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 27.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 29.svg" class="mx-2 my-4" /></a>
            </div>
        </div>

        <div>
            <form autocomplete="off">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Name" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="First Name" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Last Name" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="password" class="form-control m-2" placeholder="Password" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="User Id" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Enabled" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="number" class="form-control m-2" placeholder="Contact Number" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="email" class="form-control m-2" placeholder="Email Id" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Gender" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Role" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Group" />
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <input type="text" class="form-control m-2" placeholder="Line1" />
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <input type="text" class="form-control m-2" placeholder="Line2" />
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <input type="text" class="form-control m-2" placeholder="City" />
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <input type="text" class="form-control m-2" placeholder="State" />
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <input type="text" class="form-control m-2" placeholder="Country" />
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <input type="text" class="form-control m-2" placeholder="Postal Code" />
                            </div>
                        </div>
                    </div>

                    <div class="text-center m-5">
                        <button class="btn add-btn">ADD</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>