<div class="row formModal">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-10 col-md-10 add-camera">

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <a class="mt-3 pointer" (click)="closeAddCamera(false)"><img src="assets/images/Group 101.svg" /></a>
                <h6 class="mt-5"  style="margin-left: 20px;">add new camera</h6>
            </div>

            <div class="mx-5 my-4 site-icons">
                <a><img src="assets/images/Union 24.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 25.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 26.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/bx-cctv (1).svg" class="mx-2 my-4 changesvgcolor" /></a>
                <a><img src="assets/images/Union 27.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 29.svg" class="mx-2 my-4" /></a>
            </div>
        </div>

        <div>
            <form autocomplete="off">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <select id="" class="form-select m-2">
                            <option selected>Select Site</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Gate Way" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Camera Id" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Camera Make" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Camera Model" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Camera Order" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Camera Name" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="LTE Enabled" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Active" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="LPR Server" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="LPR Enabled" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="User Name" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Password" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="On VIF Url" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Video Tour" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Web Url" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Analytics" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="PTZ" />
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <textarea class="form-control m-2" placeholder="Add Remarks...." style="height: 100px;"></textarea>
                    </div>
                    <div class="text-center m-5">
                        <button class="btn add-btn">ADD</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>