<div class="container-fluid">

  <!-- header -->
  <div class="d-flex justify-content-between my-2">
    <div class="users-header">

      <!-- count -->
      <div class="row">
        <div class="col-lg-2 d-flex justify-content-start">
          <div class="vl-blue"></div>
          <div class="mx-2">
            <div class="status">Total</div>
            <div class="count">{{userTableData.length}}</div>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-start">
          <div class="vl-green"></div>
          <div class="mx-2">
            <div class="status">Active</div>
            <div class="count">{{activeUsers.length}}</div>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-start">
          <div class="vl-red"></div>
          <div class="mx-2">
            <div class="status">Inactive</div>
            <div class="count">{{inactiveUsers.length}}</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="create-btn" (click)="show('user')">Create User</button>
    </div>
  </div>

  <!-- form starts -->
  <div class="search-form">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="example-form-field" appearance="outline" class="w-100">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchText">
        <button matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <!-- table starts -->
  <div class="table-resp">
    <table class="table" id="mytable">
      <thead>
        <tr class="form1">
          <!-- <th>
              <input type="checkbox" class="form-check-input" [(ngModel)]="selectedAll" (change)="selectAll()"
              id="allcheck" style="
              background-color: #00000000;
              border-color: #fff;
              margin-left: 10px;
              " />
            </th> -->
          <th>
            <p class="d-inline-flex">
              <span style="white-space: nowrap;">User Id</span>
              <img (click)="sort('user_id')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </p>
          </th>
          <th>
            <span>Name</span>
            <img (click)="sort('user_id')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th>
            <span>Username/Email Address</span>
            <img (click)="sort('firstName')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th (click)="sort('address')">Address</th>
          <th>  
            <p class="d-inline-flex">
              <span style="white-space: nowrap;">Contact Number</span>
              <img (click)="sort('contactNo1')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </p>
          </th>
          <th (click)="sort('')">Sites</th>
          <!-- <th (click)="sort('custType')">Role</th> -->
          <!-- <th (click)="sort('contactPerson')">#Sites</th> -->
          <!-- <th (click)="sort('contactPerson')">Safety Escort</th> -->
          <th>
            <p class="d-inline-flex">
              <span style="white-space: nowrap;">Status</span>
              <img (click)="sort('STATUS')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </p>
          </th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody *ngIf="!showLoader">
        <tr *ngFor="let cust of userTableData | search : searchText; let i = index"
          [style.background]="rowIndex == i ? '#ababab' : ''">
          <!-- <td>
            <input type="checkbox" name="foo" class="form-check-input" [(ngModel)]="cust.selected" (change)="
            checkIfAllSelected();
            deleteMultiRecords(cust, i, $event);
            ViewByCheckbox(cust, i, $event);
            EditByCheckbox(cust, i, $event)
            " id="singleCheck" />
          </td> -->
          <td>
            <p>{{ cust.user_id }}</p>
          </td>
          <td style="width: 250px;">
            <p>{{ cust.firstName }} {{ cust.lastName }}</p>
          </td>
          <td>
            <p>{{ cust.User_Name }}</p>
            <p *ngIf="cust.User_Name !== cust.email">{{ cust.email }}</p>
          </td>
          <td>
            <p class="text-primary pointer" [matMenuTriggerFor]="userAddress" (click)="getUserInfoForUserId(cust)">View</p>

            <mat-menu #userAddress="matMenu">
              <div class="address-sec" *ngIf="userInfo">
                <!-- <div class="col-lg-6">
                  <span class="address-label">Address Line1 </span> <span>{{ userInfo?.address_line1 }}</span>
                </div>
                <div class="col-lg-6">
                  <span class="address-label">Address Line2 </span> <span class="text-end">{{ userInfo?.address_line2 }}</span>
                </div>
                <div class="col-lg-6">
                  <span class="address-label">City </span> <span class="text-end">{{ userInfo?.city }}</span>
                </div>
                <span class="address-label">Country </span> <span>{{ userInfo?.country }}</span>
                <span class="address-label">State </span> <span>{{ userInfo?.state }}</span>
                <span class="address-label">Zip Code </span> <span>{{ userInfo?.pin }}</span> -->

                <table class="table">
                  <tbody>
                    <tr>
                      <td class="address-label">Address Line1</td>
                      <td>{{ userInfo?.address_line1 ?? 'hdahsd' }}</td>
                    </tr>
                    <tr>
                      <td class="address-label">Address Line2</td>
                      <td>{{ userInfo?.address_line2 }}</td>
                    </tr>
                    <tr>
                      <td class="address-label">City</td>
                      <td>{{ userInfo?.city }}</td>
                    </tr>
                    <tr>
                      <td class="address-label">Country</td>
                      <td>{{ userInfo?.country }}</td>
                    </tr>
                    <tr>
                      <td class="address-label">State</td>
                      <td>{{ userInfo?.state }}</td>
                    </tr>
                    <tr>
                      <td class="address-label">Zip Code</td>
                      <td>{{ userInfo?.pin }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="address-sec text-center" *ngIf="!userInfo">No Data</div>
            </mat-menu>
          </td>
          <td>
            <p>{{ cust.contactNo1 }}</p>
          </td>
          <td>
            <p>{{ cust.assignSite }}</p>
            <a class="pointer mx-1.
            " [matMenuTriggerFor]="sitesMenu" (click)="getSitesListForUserName(cust)">
              <!-- matTooltip="Assign Site to the user" -->
              View
            </a>

            <mat-menu #sitesMenu="matMenu">
              <div class="srh p-2" (click)="$event.stopPropagation()">
                <mat-form-field class="example-form-field" appearance="outline" class="w-100">
                  <mat-label>Search</mat-label>
                  <input matInput type="text" [(ngModel)]="assignText">
                  <button matSuffix mat-icon-button>
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="m-1">
                <mat-button-toggle-group name="fontStyle" [(ngModel)]="assignedBtn" *ngIf="!showLoading">
                  <mat-button-toggle [value]="0"
                    (click)="$event.stopPropagation(); filterAssigned(0)">All</mat-button-toggle>
                  <mat-button-toggle [value]="1"
                    (click)="$event.stopPropagation(); filterAssigned(1)">Assigned</mat-button-toggle>
                  <mat-button-toggle [value]="2" (click)="$event.stopPropagation(); filterAssigned(2)">Not
                    Assigned</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
  
              <div class="menu-items">
                <ng-container *ngIf="showLoading">
                  <p class="text-center">Loading...</p>
                </ng-container>
                <!-- <ng-container *ngIf="userSites?.Status === 'Failed'">
                  <p class="text-center">No Sites Mapped Yet!</p>
                </ng-container> -->
                <ng-container>
                  <div class="site-list"
                    *ngFor="let site of newSitesList | search: assignText; let i = index">
                    <span class="site-name">{{i+1}}. <span>{{site.siteName}}</span></span>
                    <button [ngClass]="site?.isAssigned ? 'assign-btn assign-btn-active' : 'assign-btn'"
                      (click)="submitAssignSite(site); $event.stopPropagation()">
                      {{ site?.isAssigned ? 'Unassign' : 'Assign' }}
                    </button>
                  </div>
                  <div class="text-center" *ngIf="newSitesList?.length === 0 && !showLoading">NO SITES</div>
                </ng-container>
              </div>
            </mat-menu>
          </td>
          <td>
            <p
              [style.color]="cust.STATUS == 'IVISUSA' ? '#00A44C' : '#fa500f'">
              {{ cust.STATUS == 'IVISUSA' ? 'Active' : 'Inactive' }}
            </p>
          </td>

          <td class="text-center">
            <a class="pointer mx-1" matTooltip="View" (click)="openViewProfileDialog(cust)">
              <img src="assets/icons/view.svg">
            </a>
            <a class="pointer mx-1" matTooltip="Edit" (click)="openEditProfileDialog(cust)">
              <img src="assets/icons/edit.svg">
            </a>
            <a class="pointer mx-1" value="Delete" matTooltip="Deactivate" (click)="confirmDeleteRow(cust)">
              <img src="assets/icons/delete.svg">
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- error info -->
    <div class="err-info" style="height: 45vh;" *ngIf="userTableData.length == 0 && !showLoader">
      <h1 class="text-secondary">No Devices</h1>
    </div>

    <!-- loader -->
    <div *ngIf="showLoader" class="d-flex justify-content-center align-items-center" style="height: 45vh;">
      <app-loader></app-loader>
    </div>
  </div>

</div>

<ng-template #viewprofileDialog>
  <div style="background-color: #084982;">
    <p class="text-white p-1">VIEW PROFILE FOR - {{currentUser?.userId}}</p>
  </div>
  <div class="dialog-content" *ngIf="currentUser">
    <div class="row m-0">
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>User Name</mat-label>
          <input matInput [(ngModel)]="currentUser.userName" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email Address</mat-label>
          <input matInput [(ngModel)]="currentUser.email" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="currentUser.firstName" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="currentUser.lastName" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>ContactNo 1</mat-label>
          <input matInput [(ngModel)]="currentUser.contactNo1" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>ContactNo 2</mat-label>
          <input matInput [(ngModel)]="currentUser.contactNo2" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Address_line 1</mat-label>
          <input matInput [(ngModel)]="currentUser.address_line1" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Address_line 2</mat-label>
          <input matInput [(ngModel)]="currentUser.address_line2" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Country</mat-label>
          <input matInput [(ngModel)]="currentUser.country" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>State</mat-label>
          <input matInput [(ngModel)]="currentUser.state" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>City</mat-label>
          <input matInput [(ngModel)]="currentUser.city" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Pin</mat-label>
          <input matInput [(ngModel)]="currentUser.pin" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-12" *ngIf="currentUser.employee === 'T'">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Employee Id</mat-label>
          <input matInput [(ngModel)]="currentUser.empId" disabled>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-end mt-2">
    <button class="dialog-close-btn" mat-dialog-close>Close</button>
  </div>
</ng-template>

<ng-template #editprofileDialog>
  <div style="background-color: #084982;">
    <p class="text-white p-1">EDIT PROFILE FOR - {{currentUser?.userId}}</p>
  </div>
  <div class="dialog-content" *ngIf="currentUser">

    <div class="row m-0">
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>User Name</mat-label>
          <input matInput [(ngModel)]="currentUser.userName" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email Address</mat-label>
          <input matInput [(ngModel)]="currentUser.email" disabled>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="currentUser.firstName">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="currentUser.lastName">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Address_line 1</mat-label>
          <input matInput [(ngModel)]="currentUser.address_line1">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Address_line 2</mat-label>
          <input matInput [(ngModel)]="currentUser.address_line2">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>ContactNo 1</mat-label>
          <input matInput [(ngModel)]="currentUser.contactNo1">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>ContactNo 2</mat-label>
          <input matInput [(ngModel)]="currentUser.contactNo2">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select country</mat-label>
          <mat-select [(ngModel)]="currentUser.country">
            <mat-option *ngFor="let country of countryList" [value]="country.countryName" (click)="filterState(country.countryName)">{{ country.countryName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select state</mat-label>
          <mat-select [(ngModel)]="currentUser.state">
            <mat-option *ngFor="let state of stateList" [value]="state.stateName">{{ state.stateName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>City</mat-label>
          <input matInput [(ngModel)]="currentUser.city">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Zip code</mat-label>
          <input matInput [(ngModel)]="currentUser.pin">
        </mat-form-field>
      </div>
      <div class="col-lg-12 mb-2">
        <p>Employee</p>
        <mat-radio-group [(ngModel)]="currentUser.employee">
          <mat-radio-button value="T" class="me-5">Yes</mat-radio-button>
          <mat-radio-button value="F">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-lg-12" *ngIf="currentUser.employee === 'T'">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>empId</mat-label>
          <input matInput [(ngModel)]="currentUser.empId">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-end mt-2">
    <button class="dialog-close-btn" mat-dialog-close>Close</button>
    <button class="dialog-submit-btn" mat-dialog-close (click)="updateUser()">Update</button>
  </div>
</ng-template>


<div *ngIf="showAddUser">
  <app-add-new-user (newItemEvent)="closenow('user'); listUsers()"></app-add-new-user>
</div>

<div *ngIf="showAddSite">
  <app-add-additional-site (newItemEvent)="closenow('additionalSite')"></app-add-additional-site>
</div>