.users {
  margin-top: 80px;
}

.users-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users-header p {
  color: #28231D;
  font-size: 20px;
}

.users-header span {
  color:#28231D;
  font-size: 20px;
}

.status {
  font-size: 11px;
  color: #28231D;
  letter-spacing: 0.5px;
}

.count {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}

form .select {
  width: 200px;
  height: 40px;
}

form .form-select {
  background-color: #F8F8F8;
  border: 1px solid #EFEFEF;
  font-size: 12px;
  color: #000000;
}

form .search {
  border: 1px solid #EFEFEF;
  border-radius: 30px;
  width: 250px;
  height: 45px;
}

form input, button {
  border: none;
  padding: 11px;
  font-size: 12px;
}

form input {
  width: 80%;
  border-radius: 30px;
  color: #ABABAB;
  outline: none;
  margin-top: 2px;
}

form button {
  width: 20%;
  background: none;
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.filter-search-btn button{
  margin-bottom: 10px;
  background-color: #084982;
  color: #ffffff;
  border-radius: 5px;
}

.filter-search-btn button:hover{
  opacity: 0.9;
}

.dot {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: red;
  margin: auto;
  box-shadow: 0px 0px 5px 2px rgba(207,39,39,0.61);
  border: 1px solid #fff;
}

.form-check-input{
  height: 1.2rem;
  width: 1.2rem;
}

.icons-site {
  background-image: linear-gradient(to right, #084982 , #D34124);
  position: absolute;
  margin-top: 8px;
  margin-left: -205px;
  padding: 8px;
  border-radius: 2px;
}

.icons-site::after {
  content: "";
  position: absolute;
  top: 20px;
  transform: rotate(45deg);
  right: -4px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  box-shadow: -1px -1px 1px 0 #d34124;
  color: #d34124;
}

.plus-img:after{
  content: "";
  position: absolute;
  top: 17px;
  transform: rotate(45deg);
  right: -4px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  box-shadow: -1px -1px 1px 0 #fff;
  color: #fff;
  border-right: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
}


.plus-img {
  display: none;
  border: 1px solid #0000000D;
  position: absolute;
  background-color: #fff;
  width: fit-content;
  margin-left: -227px;
  margin-top: -26px;
  box-shadow: -5px 6px 13px 0px #F3F3F3;
}

.plus-img:after{
  content: "";
  position: absolute;
  top: 17px;
  transform: rotate(45deg);
  right: -4px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  box-shadow: -1px -1px 1px 0 #fff;
  color: #fff;
  border-right: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
}

.plus-img1 {
  border: 1px solid #EFEFEF;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: absolute;
  margin: -25px 0 0 -98px;
  background-color: #fff;
  box-shadow: -5px 6px 13px 0px #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-img1:after{
  content: "";
  position: absolute;
  top: 17px;
  transform: rotate(45deg);
  right: -4px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  box-shadow: -1px -1px 1px 0 #fff;
  color: #fff;
  border-right: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
}


@media only screen and (max-width: 768px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .inve-add {
    top: -422px;
  }

  .search {
    width: 186px;
  }

  form {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }

  form .select {
    width: 165px;
    height: 40px;
  }

  form .search {
    border: 1px solid #EFEFEF;
    border-radius: 30px;
    width: 175px;
    height: 45px;
  }

  .table-resp {
    font-size: 10px;
  }

  .table tbody tr th, .table tbody tr td {
    padding: 5px;
  }

}

.lists {
  margin-top: -20px;
}

::ng-deep .mat-flat-button.mat-primary {
  background-color: #084982;
}

/* common ng-deep */

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 5px;
  bottom: 5px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

::ng-deep .mat-select-value {
  position: relative;
  bottom: 4px;
}

::ng-deep input.mat-input-element {
  position: relative;
  bottom: 4px;
}

::ng-deep .mat-form-field-outline {
  background: #F8F8F8;
}
