<div class="container-fluid">
    <div class="row content">
      <div class="header d-flex justify-content-between align-items-center">
          <a class="logo pointer"><img src="assets/icons/Logo.svg" /></a>
          <a class="group88 pointer" (click)="showProfile()">
            <img src="assets/icons/profile.svg" />
          </a>
          <a class="menu-icon pointer" (click)="showMenu()">
            <img src="assets/icons/menu.svg" />
          </a>
      </div>
      <div class="left-content sidemenu col-lg-2 col-md-2" style="position: sticky;">
          <nav class="collapse d-block sidebar" id="navbarToggleExternalContent">
              <div class="list-group m-3">
                  <a class="list-group-item active " [routerLink]="['/main-dashboard']" routerLinkActive="routeactive">
                      <img src="assets/icons/dashboard.svg">
                      <span>Dashboard</span>
                  </a>
                  <!-- <a class="list-group-item " [routerLink]="['/verticals']" routerLinkActive="routeactive">
                      <img src="assets/icons/vertical.svg">
                      <span>Verticals</span>
                  </a> -->
                  <!-- <a class="list-group-item " [routerLink]="['/customers']" routerLinkActive="routeactive">
                      <img src="assets/icons/customer.svg">
                      <span>Customers</span>
                  </a> -->

                  <!-- <a routerLink="/service-category" class="nav-link active" aria-current="page">
                      <span data-feather="home"></span>
                      Category
                  </a> -->

                  <a class="list-group-item " [routerLink]="['/sites']" routerLinkActive="routeactive">
                      <img src="assets/icons/sites.svg">
                      <span>Sites</span>
                  </a>
                  <!-- <a class="list-group-item ">
                      <img src="assets/icons/cam.svg">
                      <span>Cameras</span>
                  </a> -->
                  <!-- <a class="list-group-item " [routerLink]="['/analytics']" routerLinkActive="routeactive">
                      <img src="assets/icons/analytic.svg">
                      <spanAnalytics</span>
                  </a> -->
                  <a class="list-group-item " [routerLink]="['/users']" routerLinkActive="routeactive">
                      <img src="assets/icons/user-white.svg">
                      <span>Users</span>
                  </a>
                  <a class="list-group-item " [routerLink]="['/inventory']" routerLinkActive="routeactive">
                    <img src="assets/icons/inventory.svg">
                    <span>Inventory</span>
                  </a>
                  <a class="list-group-item " [routerLink]="['/assets']" routerLinkActive="routeactive">
                    <img src="assets/icons/asset.svg">
                    <span>Assets(Ads)</span>
                  </a>
                  <a class="list-group-item " [routerLink]="['/tickets']" routerLinkActive="routeactive">
                    <img src="assets/icons/ticket.svg">
                    <span>Tickets/Jobs</span>
                  </a>
                  <a class="list-group-item " [routerLink]="['/reports']" routerLinkActive="routeactive">
                    <img src="assets/icons/report.svg">
                    <span>Reports</span>
                  </a>
              </div>
          </nav>
      </div>
      <div class="right-content col-lg-10 col-md-10 col-sm-12 col-xs-12" style="padding: 0;">
          <router-outlet></router-outlet>
      </div>
    </div>
</div>


<!-- Profile Details -->
<div class="card profile-card" *ngIf="profile" id="profiles">
    <div class="card-header d-flex flex-column justify-content">
        <img src="assets/icons/Ellipse 25@2x.png" width="100" height="100" />
        <span class="mt-2">User Name</span>
        <span>+91 XXXXX XXXXX<br>user@gmail.com</span>
    </div>
    <div class="card-body">
        <div>
          <a class="mx-2 pointer"><img src="assets/icons/edit-line@2x.png" width="15" height="15" /> <span class="mx-2">Edit Profile</span></a>
        </div>
        <div>
          <a class="mx-2 pointer"><img src="assets/icons/Union 48@2x.png" width="15" height="15" /> <span class="mx-2">Change Password</span></a>
        </div>
        <div>
          <a class="mx-2 pointer"><img src="assets/icons/info-outline.svg" width="15" height="15" /> <span class="mx-2">Terms & Conditions</span></a>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn text-white" (click)="logout()"> LOG OUT</button>
    </div>
</div>

<!-- Mobile View Menu -->

<div class="col-sm-12 col-xs-12 mobile-sidebar" id="sidebar" *ngIf="show" style="z-index: 1;">
    <nav class="d-sm-xs-block">
        <div class="list-group text-white text-center">
            <a class="list-group-item my-2 active " [routerLink]="['/main-dashboard']" routerLinkActive="routeactive">
                <img src="assets/icons/dashboard.svg" /><span> Dashboard</span>
            </a>

            <!-- <a class="list-group-item my-2" >
                <img src="assets/icons/vertical.svg" /><span> Verticals</span>
            </a> -->

            <!-- <a class="list-group-item my-2" [routerLink]="['/customers']" routerLinkActive="routeactive">
                <img src="assets/icons/customer.svg" /><span> Customers</span>
            </a> -->

            <a routerLink="" class="list-group-item my-2" [routerLink]="['/sites']" routerLinkActive="routeactive">
                <img src="assets/icons/sites.svg" /><span> Sites</span>
            </a>

            <!-- <a class="list-group-item my-2">
                <img src="assets/icons/cam.svg" /><span> Cameras</span>
            </a> -->

            <!-- <a class="list-group-item my-2">
                <img src="assets/icons/analytic.svg" /><span> Analytics</span>
            </a> -->
            <a class="list-group-item my-2" [routerLink]="['/users']" routerLinkActive="routeactive">
                <img src="assets/icons/user-white.svg" /><span>Users</span>
            </a>

            <a class="list-group-item my-2" [routerLink]="['/inventory']" routerLinkActive="routeactive">
              <img src="assets/icons/inventory.svg" /><span>Inventory</span>
            </a>

            <a class="list-group-item my-2" [routerLink]="['/assets']" routerLinkActive="routeactive">
                <img src="assets/icons/asset.svg" /><span>Assets(Ads)</span>
            </a>

            <a class="list-group-item my-2" [routerLink]="['/tickets']" routerLinkActive="routeactive">
              <img src="assets/icons/ticket.svg" /><span>Tickets/Jobs</span>
            </a>

            <a class="list-group-item my-2" [routerLink]="['/reports']" routerLinkActive="routeactive">
              <img src="assets/icons/report.svg" /><span>Reports</span>
            </a>
        </div>
    </nav>
</div>
