  body {
    background-color: #fbfbfb;
  }

  nav {
    font-size: 14px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    /* width: 240px; */
    z-index: 600;
    width: inherit;
  }


  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  .sidemenu{
    color: #fff;
    background: url('../../assets/icons/bgimg.png') top left no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .header {
    background-image: linear-gradient(to right, #084982 , #D34124);
    position: fixed;
    height: 70px;
    z-index: 999;
  }

  .header .group88 img {
    width: 40px;
  }

  /* .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
  } */

  .list-group-item {
      background-color: transparent;
      color: #fff;
      border: none;
      margin: 10px;
      display: flex;
      align-items: center;
  }

  .list-group-item :active {
      background-color: #084982;
      border-radius: 5px;
  }
  .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    margin-top: 30px!important;
}

.list-group :hover {
    background-color: #084982;
    border-radius: 5px;
}
.routeactive{
  background-color: #084982;
  border-radius: 5px;
}

.list-group img {
    margin-right: 10px;
}

.profile-card {
  position: absolute;
  top: 6.5%;
  right: 3%;
  z-index: 999;
  border: none;
  border-radius: 10px;
}

.profile-card .card-header {
  background-image: linear-gradient(to top, #AA4337, #274874);
  text-align: center;
  color: #fff;
  padding: 40px;
  width: 250px;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}

.profile-card .card-header img {
  margin-left: 35px;
  margin-top: -25px;
}

.profile-card .card-body {
  background-color: #ABABAB1A;
  padding: 0rem 0rem;
}

.profile-card .card-body a {
  color: #000;
  font-size: 13px;
  text-decoration: none;
}

.profile-card .card-body div {
  /* height: 48px; */
  border-bottom: 2px solid #fff;
  padding: 10px;
}

.profile-card .card-footer {
  background-color: #ABABAB;
  color: #fff;
  border-radius: 0px 0px 5px 5px;
  padding: 3px !important;
  text-align: center;
}

.profile-card .card-footer:hover {
  opacity: 0.8;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header .logo img {
    width: 150px;
  }

  .left-content {
    display: none;
  }

  .right-content {
    width: 100%;
  }

  .mobile-sidebar {
    background: url('../../assets/icons/bgimg.png') top right;
    background-size: cover;
    top: 70px;
    position: absolute;
    width: 100%;
  }

  .mobile-sidebar .list-group :hover {
    background-color: #084982;
    border-radius: 5px;
  }

  .menu-icon {
    display: block;
    padding: 20px;
  }

  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

}
