.table tbody tr td {
  padding: 0 5px;
}

.create-centeral-box-button{
  width: 100px;
  border-radius: 8px;
  background-color:#084982;
  /* margin-bottom: 20px; */
  color: aliceblue;
  font-size: 12px;

}