<div class="container-fluid">

  <!-- header -->
  <div class="d-flex justify-content-between">
    <div class="users-header">
      <p>List of Sites - <span>{{ newTableData?.length }}</span></p>
    </div>
    <div>
      <!-- <a class="pointer" (click)="show('site')"><img src="assets/icons/add.svg" alt="" /></a> -->
      <button class="create-btn" (click)="show('site')">Create Site</button>
      <!-- <a>
        <img src="assets/icons/sites-img.svg" alt="" style="border-radius: 24px; box-shadow: 7px 7px 7px 0px #f3f3f3; margin-top: -9px;">
      </a> -->
    </div>
  </div>
  <!-- /header -->

  <!-- count -->
  <!-- <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 d-flex justify-content-start">
          <div class="vl-green"></div>
          <div class="mx-2">
              <div class="status">Active</div>
              <div class="count">{{ active ? active : 0 }}</div>
          </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 d-flex justify-content-start">
          <div class="vl-red"></div>
          <div class="mx-2">
              <div class="status">Inactive</div>
              <div class="count">{{ inActive.length }}</div>
          </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 d-flex justify-content-start">
          <div class="vl-yellow"></div>
          <div class="mx-2">
              <div class="status">Onhold</div>
              <div class="count">{{ onHold.length }}</div>
          </div>
      </div>
  </div> -->
  <!-- /count -->

  <!-- form -->
  <div class="search-form">
    <div class="row col-md-10">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select site</mat-label>
          <input matInput #siteIdInput [matAutocomplete]="site" [(ngModel)]="siteNg" (keyup)="searchSites($event)">
          <button matSuffix mat-icon-button>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-autocomplete #site="matAutocomplete">
            <mat-option value="All" (click)="filterSites('All')" *ngIf="tableData.length !== 0">All</mat-option>
            <mat-option *ngFor="let item of tableData | search: siteSearch" [value]="item.siteId"
              (click)="filterSites(item.siteId)">
              {{ item.siteId }} - {{ item.siteName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <mat-form-field class="example-form-field" appearance="outline" class="w-100">
          <mat-label>Search</mat-label>
          <input matInput type="text" [(ngModel)]="searchText">
          <button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- /form -->

  <!-- table -->
  <div class="table-resp">
    <table class="table table-hover">
      <thead>
        <tr class="form1">
          <!-- <th>
            <input type="checkbox" class="form-check-input" [(ngModel)]="selectedAll" (change)="selectAll();" id="allcheck" style="background-color: #00000000; border-color:#fff;margin-left:10px;">
          </th> -->
          <th>
            <span>Id</span>
            <img (click)="sort('siteId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th>
            <P>Name</P>
            <img (click)="sort('siteName')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <!-- <th (click)="sort('address')">Address</th> -->
          <!-- <th (click)="sort('escl_Details')">Escl Details</th>
          <th (click)="sort('engr_Details')">Engr Details</th> -->
          <th>Cameras</th>
          <th (click)="sort('cntrl_Unit')">Central Box</th>
          <!-- <th>Analytics</th> -->
          <!-- <th>Ads Devices</th> -->
          <!-- <th>User Details</th> -->
          <!-- <th class="text-center">Installation</th> -->

          <th>
            <span>Status</span>
            <img (click)="sort('status')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody *ngIf="!showLoader">
        <tr *ngFor="let data of newTableData | orderBy: 'siteName' | search : searchText; let i=index">
          <!-- <td>
              <input type="checkbox" class="form-check-input" [(ngModel)]="data.selected" (change)="checkIfAllSelected(); deleteMultiRecords(data, i, $event); ViewByCheckbox(data, i, $event); EditByCheckbox(data, i, $event)" id="singleCheck">
            </td> -->
          <td>
            <p>{{ data.siteId }}</p>
          </td>
          <td style="width: 300px;">
            <p>{{ data.siteName }}</p>
          </td>
          <!-- <td>
            <a class="pointer" style="color: #084982;" (click)="addressView($event, i)">View</a>
            <div class="plus-img" id="address{{i}}">
                <p class="p-2" style="color: #ABABAB; text-align: left;">ADDRESS</p>
                <div style="color: #000; text-align: left; padding: 10px;">
                  <p>Pathur Road, Tadepally</p>
                  <p>Guntur - 522501</p>
                  <p>Andhra Pradesh, India</p>
                </div>
              </div>
          </td> -->
          <!-- <td>
            <a class="pointer" style="color: #084982;"
              (click)="onGetEngineer(data.siteId); engineerView($event, i)">View</a>
            <div class="plus-img" style="margin-left: -388px;" id="engineer{{i}}">
                <p class="p-2" style="color: #ABABAB; text-align: left;">Details:</p>
                <div class="eng-detail" *ngFor="let item of engineerDetail">
                  <p>
                    <span>Name:&nbsp;</span>
                    {{ item.name ? item.name : '--' }}
                  </p>
                  <p>
                    <span>Email:&nbsp;</span>
                    {{ item.emailId ? item.emailId : '--' }}
                  </p>
                  <p>
                    <span>Contact:&nbsp;</span>
                    {{ item.contactNo ? item.contactNo : '--' }}
                  </p>
                </div>
              </div>
          </td> -->
          <td>
            <p class="text-primary pointer" (click)="getCamerasForSiteId(data)">View</p>
          </td>
          <td>
            <a class="pointer" style="color: #000;">
              <!-- <img src="assets/icons/add.svg" *ngIf="data.centralUnitId == '' || data.centralUnitId == null" width="40"> -->
              <!-- <span *ngIf="data.cntrl_Unit != '' && data.centralUnitId !=null">{{data?.centralUnitId}}</span> -->
              <!-- <img src="assets/icons/add.svg" width="40" (click)="getCentalBox(data)"> -->
              <p class="text-primary" (click)="getCentalBox(data)">View</p>
            </a>
          </td>
          <!-- <td>
            <a class="pointer" (click)="show('device'); getDevices(data.siteId); saveSiteData(data)">
              <p class="text-primary">View</p>
            </a>
          </td> -->

          <!-- <td>
            <a class="pointer" (click)="getSiteUserDetails(data)">
              <p class="text-primary" [matMenuTriggerFor]="siteUserDetails">View</p>
              <mat-menu #siteUserDetails="matMenu"> 
                <P class="text-center">Total No.of Users:<span> {{siteUsers.length}}</span></P>
                <div class="p-2 mx-2" style="font-size: 14px;">
                  <div *ngFor="let userSite of siteUsers; let i = index">
                  <span>({{i+1}})</span><span> {{userSite.User_Name}}</span>
                  </div>
                </div>
              </mat-menu>
            </a>
          </td> -->
          <!-- <td class="text-center">
              <a class="pointer" (click)="show('installation')">
                  <img src="assets/icons/feed_black.svg" style="opacity: 0.8;" width="18">
              </a>
            </td> -->
          <td>
            <p
              [style.color]="data.status == 'Active' ? '#00A44C': data.status == 'Onhold' ? '#F5B400': data.status == 'Inactive' ? '#fa500f': '#084982'">
              {{ data.status ? data.status : 'Active' }}
            </p>
          </td>
          <td class="table-icons">
            <a class="mx-1 pointer" matTooltip="View">
              <img src="assets/icons/view.svg" (click)="openViewPopup(data)">
            </a>
            <a class="mx-1 pointer" matTooltip="Edit">
              <img src="assets/icons/edit.svg" (click)="openEditPopup(data)">
            </a>
            <!-- <a class="mx-1 pointer" value="Delete" matTooltip="Delete">
              <img src="assets/icons/delete.svg" (click)="openDeletePopup(data)">
            </a> -->
          </td>
        </tr>
      </tbody>
    </table>

    <!-- error info -->
    <div class="err-info" style="height: 45vh;" *ngIf="newTableData?.length == 0 && !showLoader">
      <h1 class="text-secondary">No Sites</h1>
    </div>

    <!-- loader -->
    <div *ngIf="showLoader" class="d-flex justify-content-center align-items-center" style="height: 45vh;">
      <app-loader></app-loader>
    </div>
  </div>
</div>

<ng-template #viewCamerasDialog>
  <div class="dialog-title">{{currentItem?.siteName}}</div>

  <div class="dialog-content">
    <div class="table-res">
      <table class="table table-hover">
        <thead>
          <tr class="form1">
            <th>Camera</th>
            <!-- <th>User Name</th>
            <th>Password</th> -->
            <th>Name</th>
            <th>RTSP</th>
            <th>WebRTC URL</th>
            <th>HLS URL</th>
            <th>Audio URL</th>
            <th>Edit</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let cam of cameras; let i=index">
              <td>{{cam.cameraId}}</td>
              <!-- <td>{{cam.userName}}</td>
              <td>{{cam.password}}</td> -->
              <td><p>{{cam.name}}</p></td>
              <td><p>{{cam.rtspUrl}}</p></td>
              <td><p>{{cam.httpUrl}}</p></td>
              <td><p>{{cam.hlsTunnel}}</p></td>
              <td><p>{{cam.audioUrl}}</p></td>
              <td><a class="mx-1 pointer" (click)="openEditCamera(cam)" matTooltip="Edit"><img src="assets/icons/edit.svg"></a></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-end">
    <button class="dialog-close-btn" mat-dialog-close>Close</button>
  </div>
</ng-template>

<ng-template #viewCentralBoxDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title m-0">central box</p>
  </div>

  <div class="dialog-content">
    <div class="d-flex justify-content-end mb-1">
      <button class="create-centeral-box-button" (click)="openAddCentralbox()">Create</button>
    </div>

    <div class="table-res">
      <table class="table table-hover" id="mytable">
        <thead>
          <tr class="form1" style="background-image: linear-gradient(to right, #084982, #D34124);">
            <th>No</th>
            <th>
              <span>unitId</span>
              <img (click)="sort('url')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th>
              <span>unitName</span>
              <img (click)="sort('mode')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
            </th>
            <th class="text-center">Add Camera</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let cust of onGetCentralboxDetail; let i = index">
            <td>{{i+1}}</td>
            <td>
              <p>{{ cust.unitId }}</p>
            </td>

            <td>
              <p>{{ cust.unitName }}</p>
            </td>

            <td class="text-center">
              <a (click)="show('camera', cust)" mat-dialog-close>
                <img src="assets/icons/add.svg" width="40">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="d-flex align-items-center justify-content-end">
    <div>
      <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
  </div>
</ng-template>

<ng-template #addCentralBoxDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">create central box</p>
  </div>

  <div class="dialog-content">
    <form class="p-0" [formGroup]="createCenteralBox">
      <div class="row m-0">
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Unit Id</mat-label>
            <input matInput formControlName="unitId">
            <mat-error>*required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Unit Location Name </mat-label>
            <input matInput formControlName="unitName">
            <mat-error>*required</mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="d-flex align-items-center justify-content-end">
        <button class="dialog-close-btn" mat-dialog-close>Close</button>
        <button class="dialog-submit-btn" (click)="createCentralBox()">Update</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #viewSiteDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">site - {{currentItem?.siteShortName}}</p>
  </div>
  
  <div class="row m-0 dialog-content" *ngIf="currentItem">
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Site Id</mat-label>
        <input matInput [(ngModel)]="currentItem.siteId" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Site Name</mat-label>
        <input matInput [(ngModel)]="currentItem.siteName" disabled>
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Short Name</mat-label>
        <input matInput [(ngModel)]="currentItem.siteShortName" disabled>
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Unit Id</mat-label>
        <input matInput [(ngModel)]="currentItem.unitId" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Phone Number</mat-label>
        <input matInput [(ngModel)]="currentItem.phoneNo" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="currentItem.email" disabled>
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>FAX</mat-label>
        <input matInput [(ngModel)]="currentItem.fax" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Website</mat-label>
        <input matInput [(ngModel)]="currentItem.website" disabled>
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Status</mat-label>
        <input matInput [(ngModel)]="currentItem.status" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Escalation Id</mat-label>
        <input matInput [(ngModel)]="currentItem.escalationId" disabled>
      </mat-form-field>
    </div> 
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Latitude</mat-label>
        <input matInput [(ngModel)]="currentItem.latitude" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Longitude</mat-label>
        <input matInput [(ngModel)]="currentItem.longitude" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country</mat-label>
        <input matInput [(ngModel)]="currentItem.country" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>State</mat-label>
        <input matInput [(ngModel)]="currentItem.state" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Timezone</mat-label>
        <input matInput [(ngModel)]="currentItem.timezone" disabled>
      </mat-form-field>
    </div>
  
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Remarks</mat-label>
        <input matInput [(ngModel)]="currentItem.remarks" disabled>
      </mat-form-field>
    </div>
  </div>
  
  <div class="d-flex align-items-center justify-content-end">
    <div>
      <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
  </div>
</ng-template>

<ng-template #editSiteDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">MODIFY SITE FOR - {{currentSite?.siteName}}</p>
  </div>

  <div class="row m-0 dialog-content" *ngIf="currentSite">
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Site Id</mat-label>
        <input matInput [(ngModel)]="currentItem.siteId" disabled>
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Site Name</mat-label>
        <input matInput [(ngModel)]="currentSite.siteName" disabled>
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Site Short Name</mat-label>
        <input matInput [(ngModel)]="currentSite.siteShortName" >
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Unit Id</mat-label>
        <input matInput [(ngModel)]="currentSite.unitId" >
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Phone No</mat-label>
        <input matInput [(ngModel)]="currentSite.phoneNo" >
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="currentSite.email" >
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Fax</mat-label>
        <input matInput [(ngModel)]="currentSite.fax" >
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Website</mat-label>
        <input matInput [(ngModel)]="currentSite.website" >
      </mat-form-field>
    </div>

    <!-- <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Site Type</mat-label>
        <input matInput [(ngModel)]="currentSite.siteType" >
      </mat-form-field>
    </div> -->

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label> Status</mat-label>
        <input matInput [(ngModel)]="currentSite.status" >
      </mat-form-field>
    </div>

    <!-- <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Business Vertical Id</mat-label>
        <input matInput [(ngModel)]="currentSite.busVerticalId" >
      </mat-form-field>
    </div> -->

    <!-- <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Customer Id</mat-label>
        <input matInput [(ngModel)]="currentSite.customerId" >
      </mat-form-field>
    </div> -->

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Escalation Id</mat-label>
        <input matInput [(ngModel)]="currentSite.escalationId" >
      </mat-form-field>
    </div>

    <!-- <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Client Services</mat-label>
        <input matInput [(ngModel)]="currentSite.clientServicesId" >
      </mat-form-field>
    </div> -->

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Latitude</mat-label>
        <input matInput [(ngModel)]="currentSite.latitude" >
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Longitude</mat-label>
        <input matInput [(ngModel)]="currentSite.longitude" >
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select country</mat-label>
        <mat-select [(ngModel)]="currentSite.country">
          <mat-option *ngFor="let country of countryList" [value]="country.countryName" (click)="filterState(country.countryName)">{{ country.countryName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select state</mat-label>
        <mat-select [(ngModel)]="currentSite.state">
          <mat-option *ngFor="let state of stateList" [value]="state.stateName">{{ state.stateName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Time Zone</mat-label>
        <mat-select [(ngModel)]="currentSite.timezone">
          <mat-option *ngFor="let time of timeZones" [value]="time.value">{{ time.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Remarks</mat-label>
        <input matInput [(ngModel)]="currentSite.remarks"  >
      </mat-form-field>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-end">
    <div>
      <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
    <div>
      <button class="dialog-submit-btn" mat-dialog-close (click)="confirmEditRow()">Update</button>
    </div>
  </div>
</ng-template>


<div *ngIf="showAddSite">
  <app-add-new-site (newItemEvent)="closenow('site'); getSitesListForUserName()"></app-add-new-site>
</div>

<div *ngIf="showAddDevice">
  <app-add-device [fromSites]="inputToDevices" (newItemEvent)="closenow('device')"></app-add-device>
</div>

<div *ngIf="showInstallation">
  <app-add-new-installation (newItemEvent)="closenow('installation')"></app-add-new-installation>
</div>

<div *ngIf="showCamera">
  <app-add-new-camera (newItemEvent)="closenow('camera')" [centeralBoxFrom]="currentItem1" [currentSiteFrom]="currentItem"></app-add-new-camera>
</div>