<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>
  <div class="col-lg-6 col-md-6 add-form" id="camera" @inOutPaneAnimation>

    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex">
        <a class="close-main pointer" (click)="closeAddCamera()"><img src="assets/icons/close_form.svg" /></a>
        <span class="form-heading">add data</span>
      </div>

      <!-- <div class="mx-5 my-4 site-icons">
        <a (click)="openAnotherForm('showAddBusinessVertical')"><img src="assets/icons/ver-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddCustomer')"><img src="assets/icons/cust-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddSite')"><img src="assets/icons/site-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddCamera')" class="boxshadow"><img src="assets/icons/cam-icon-form.svg" class="mx-2 my-4 changesvgcolor" /></a>
              <a (click)="openAnotherForm('analytics')"><img src="assets/icons/analy-icon-form.svg" class="mx-2 my-4" /></a>
              <a (click)="openAnotherForm('showAddUser')"><img src="assets/icons/user-icon-form.svg" class="mx-2 my-4" /></a>
      </div> -->
    </div>

    <!-- Form -->
    <div>
      <form autocomplete="off" [formGroup]="addAssetForm">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Service Name</mat-label>
              <mat-select>
                <mat-option value="1">1</mat-option>
              </mat-select>
              <mat-error class="mt-1">Service Name is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Sub Service Name</mat-label>
              <mat-select>
                <mat-option value="1">1</mat-option>
              </mat-select>
              <mat-error class="mt-1">Sub Service Name is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Priority</mat-label>
              <mat-select>
                <mat-option value="1">1</mat-option>
              </mat-select>
              <mat-error class="mt-1">Priority is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Description</mat-label>
              <input matInput>
              <mat-error class="mt-1">Description is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Department</mat-label>
              <mat-select>
                <mat-option value="1">1</mat-option>
              </mat-select>
              <mat-error class="mt-1">Department is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Assign to (Employee)</mat-label>
              <mat-select>
                <mat-option value="1">1</mat-option>
              </mat-select>
              <mat-error class="mt-1">Assign is required</mat-error>
            </mat-form-field>
          </div>

          <div class="text-center my-3">
            <button class="btn add-btn" (click)="addNewAsset()">ADD</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /Form -->

  </div>
</div>
