<div class="row formModal">
  <div class="col-lg-6 col-md-6"></div>

  <div class="col-lg-6 col-md-6 add-form" id="user" @inOutPaneAnimation>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-row justify-content-start">
      <a class="close-main pointer" (click)="closeAddUser()"><img src="assets/icons/close_form.svg" /></a>
      <span class="form-heading">add indent</span>
    </div>
  </div>

  <!-- Form -->
  <div>
    <form autocomplete="off" [formGroup]="UserForm" #addUserForm="ngForm">
      <div class="row" *ngFor="let item of inventoryBody.items; let i = index">
        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ticket Id</mat-label>
            <mat-select formControlName="jobOrTicketId" [(ngModel)]="inventoryBody.jobOrTicketId">
              <!-- <mat-option *ngFor="let item of vendorDetail" [value]="item.id">{{ item.name }}</mat-option> -->
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
            <mat-error class="mt-1">Ticket Id is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Id</mat-label>
            <mat-select formControlName="productId" [(ngModel)]="inventoryBody.items[i].productId">
              <mat-option *ngFor="let item of productIds" [value]="item.id">{{ item.id }} - {{ item.name }}</mat-option>
            </mat-select>
            <mat-error class="mt-1">Product Id is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity" [(ngModel)]="inventoryBody.items[i].quantity">
            <mat-error class="mt-1">Quantity is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-4 col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Remarks</mat-label>
            <input matInput formControlName="remarks" [(ngModel)]="inventoryBody.remarks">
            <mat-error class="mt-1">Quantity is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-2 col-md-2">
          <button mat-stroked-button class="mt-2" style="color: #084982" (click)="onTaskAdd(item)">Add Item</button>
        </div>

        <div class="col-lg-12 col-md-12 mt-2" *ngIf="items.length > 0">
          <div class="list-header d-flex justify-content-between">
            <p>productId</p>
            <p>quantity</p>
          </div>
          <div *ngFor="let item of items" class="list-item d-flex justify-content-between">
            <p>{{ item.productId }}</p>
            <p>{{ item.quantity }}</p>
          </div>
        </div>

        <div class="text-center my-3">
          <button type="submit" class="btn add-btn" (click)="submit()">ADD</button>
        </div>
      </div>
    </form>
  </div>
  <!-- /Form -->

  </div>
</div>
