<div class="row">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-10 col-md-10 add-site">

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <a class="mt-3" (click)="closeAddSite(false)"><img src="assets/images/Group 101.svg" /></a>
                <h6 class="mt-5">add new site</h6>
            </div>

            <div class="mx-5 my-4 site-icons">
                <a><img src="assets/images/Union 24.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 25.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 26.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/bx-cctv (1).svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 27.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/images/Union 29.svg" class="mx-2 my-4" /></a>
            </div>
        </div>

        <div>
            <form autocomplete="off">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <select id="" class="form-select m-2">
                            <option selected>Select Customer</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Site Name" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Contact Number" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Fax Number" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="email" class="form-control m-2" placeholder="Email Id" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Website" />
                    </div>
                    <div class="col-lg-4 col-md-4 margin-div">
                        <select id="" class="form-select m-2">
                            <option selected>Country</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 margin-div">
                        <select id="" class="form-select m-2">
                            <option selected>State</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 margin-div">
                        <select id="" class="form-select m-2">
                            <option selected>District</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="City" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Address" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control m-2" placeholder="Pincode" />
                    </div>
                    <div class="col-lg-4 col-md-4 lat">
                        <input type="text" class="form-control" placeholder="Latitude" />
                    </div>
                    <div class="col-lg-4 col-md-4 long">
                        <input type="text" class="form-control" placeholder="Longitude" />
                    </div>

                    <!-- <div class="col-lg-4 col-md-4 d-flex flex-row justify-content-between longi input-count">
                        <div class="long">
                          <input type="text" class="form-control m-2" placeholder="Longitude" />
                        </div>
                        <span>3.8</span>
                    </div> -->

                    <div class="col-lg-4 col-md-4 px-3 margin-div">
                        <button class="btn m-2 latlong">Get Lat Long</button>
                    </div>
                    <div class="col-lg-4 col-md-4 margin-div">
                        <select id="" class="form-select m-2">
                            <option selected>Select Manager/Owner/Po...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 margin-div">
                        <input type="text" class="form-control m-2" placeholder="Contact Number" />
                    </div>
                    <div class="col-lg-4 col-md-4 margin-div">
                        <input type="email" class="form-control m-2" placeholder="Email Id" />
                    </div>

                    <div class="text-center m-5">
                        <button class="btn add-btn">ADD</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>